:root {
  --sdhub-gallery-tab-background: var(--input-background-fill-hover);
  --sdhub-gallery-img-button: #000;
  --sdhub-gallery-cm-border: #000;
  --sdhub-gallery-cm-background: #404040;
  --sdhub-gallery-cm-arrow: var(--body-text-color);
  --sdhub-gallery-li-hover-background: #404040;
  --sdhub-gallery-li-hover-color: var(--background-fill-primary);
}

.dark {
  --sdhub-gallery-tab-background: var(--input-background-fill);
  --sdhub-gallery-img-button: var(--input-background-fill);
  --sdhub-gallery-cm-border: #8c8c8c;
  --sdhub-gallery-cm-background: #404040;
  --sdhub-gallery-cm-arrow: var(--primary-400);
  --sdhub-gallery-li-hover-background: #8c8c8c;
  --sdhub-gallery-li-hover-color: var(--background-fill-primary);
}

body.no-scroll {
  overflow: hidden;
}

.loading-blurry {
  transition: 0.5s ease;
  backdrop-filter: blur(5px);
}

#SDHub-Gallery-Tab-Button-Row {
  z-index: 5;
  height: 45px;
  position: relative;
  top: 0;
  gap: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  max-width: 100%;
  border-radius: 1rem;
  background: transparent;
  padding: 5px;
}

#SDHub-Gallery-Tab-Button-Row .sdhub-gallery-tab-button {
  display: none;
  position: relative;
  background: transparent;
  color: var(--body-text-color);
  transition: 0.4s ease;
  border: 0;
  border-radius: 100px;
  text-align: center;
  font-weight: normal;
  font-size: 19px;
  padding: 3px 15px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  height: 35px;
}

#SDHub-Gallery-Tab-Button-Row .sdhub-gallery-tab-button.selected {
  cursor: default;
  font-weight: bold;
  color: var(--background-fill-primary);
  filter: drop-shadow(0 0 10px var(--primary-400));
  box-shadow: 0 0 10px 1px var(--primary-400);
  background: var(--button-primary-background-fill);
}

#SDHub-Gallery-Tab-Button-Row .sdhub-gallery-tab-button:not(.selected):hover {
  color: var(--primary-400);
  filter: drop-shadow(0 0 10px var(--body-text-color));
  box-shadow: 0 0 10px 1px var(--primary-400);
}

#SDHub-Gallery-Tab-Wrapper {
  margin: 0;
  display: block;
  overflow: hidden;
  padding: 5px 0;
  border-radius: 1rem;
  background: var(--sdhub-gallery-tab-background);
}

#SDHub-Gallery-Tab-Counter-Container {
  position: relative;
  z-index: 3;
}

.sdhub-gallery-tab-image-counter {
  display: none;
  position: absolute;
  top: -5px;
  max-width: max-content;
  margin: 0;
  padding: 0 12px;
  border-bottom: 1px solid var(--background-fill-primary);
  border-right: 1px solid var(--background-fill-primary);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: var(--input-background-fill-hover);
  pointer-events: none;
  color: var(--body-text-color);
  font-size: var(--block-info-text-size);
}

.sdhub-gallery-tab-container {
  max-height: calc(3* 17rem);
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow-y: auto !important;
  background: transparent;
  flex-wrap: wrap;
  transition: 0.5s ease-in-out;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 25px 10px;
  position: relative;
}

.sdhub-gallery-image-box {
  display: flex;
  height: 240px;
  width: 240px;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  position: relative;
}

#SDHub-Gallery-Image-Container {
  display: flex;
  z-index: 1;
  border: 0;
  position: relative;
  overflow: hidden;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px 2px #000;
  transition: 0.2s ease-in-out;
}

#SDHub-Gallery-Image {
  max-width: 240px;
  max-height: 240px;
  object-fit: contain;
  user-select: none;
  -webkit-user-select: none;
}

.sdhub-gallery-image-loading {
  filter: blur(2px) brightness(0.5);
}

.sdhub-gallery-image-button {
  display: flex;
  transform: scale(0);
  padding: 2px;
  border-radius: 0;
  color: var(--primary-400);
  background: var(--sdhub-gallery-img-button);
  box-shadow: 0 0 3px 1px #000;
  cursor: pointer;
  opacity: 0;
  z-index: 50;
  transition: 0.3s ease-in-out;
  position: absolute;
  justify-content: flex-end;
  box-sizing: border-box;
}

#SDHub-Gallery-Image-Context-Button {
  transform-origin: top right;
  border-bottom-left-radius: 15px;
  top: 0;
  right: 0;
}

#SDHub-Gallery-Image-Viewer-Button {
  transform-origin: bottom left;
  border-top-right-radius: 15px;
  bottom: 0;
  left: 0;
}

#SDHub-Gallery-Image-Context-Button svg {
  left: 1px;
  bottom: 1px;
  position: relative;
}

#SDHub-Gallery-Image-Viewer-Button svg {
  transform: scale(0.7);
  right: 1px;
  top: 1px;
  position: relative;
}

#SDHub-Gallery-Image-Container:hover #SDHub-Gallery-Image-Context-Button,
#SDHub-Gallery-Image-Container:hover #SDHub-Gallery-Image-Viewer-Button {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

#SDHub-Gallery-Empty-Frame {
  display: block;
  position: absolute;
  width: 105%;
  height: 105%;
  border: 0;
  opacity: 1;
  pointer-events: none;
  overflow: hidden;
  transition: 0.4s ease;
}

#SDHub-Gallery-Empty-Frame::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  border-radius: inherit;
  z-index: -1;
  pointer-events: none;
}

#SDHub-Gallery-Image-Container:hover #SDHub-Gallery-Empty-Frame {
  box-shadow: inset 0 0 30px 20px #000;
}

#SDHub-Gallery-Image-Container:hover {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 0 10px 1px var(--primary-400);
  filter: drop-shadow(0 0 0 var(--primary-400));
}

#SDHub-Gallery-Image-Box-0 {
  display: none;
}

#sdhub-gallery-image-info {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  overflow: auto;
}

#sdhub-gallery-image-info-img {
  height: auto;
  width: 100%;
  object-fit: contain;
  border-radius: 0.7rem;
}

#sdhub-gallery-image-info-row {
  display: none;
  height: 100%;
  padding: 10px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background: var(--background-fill-primary);
  z-index: 99;
  position: fixed;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.6s ease;
}

@media (max-width: 600px) {
  .sdhub-gallery-image-box {
    height: 220px;
    width: 220px;
  }

  #SDHub-Gallery-Image {
    max-width: 220px;
    max-height: 220px;
  }

  .sdhub-gallery-tab-container {
    gap: 20px;
  }

  #SDHub-Gallery-Tab-Button-Row {
    gap: 10px;
    justify-content: space-evenly;
    overflow-x: auto;
  }

  #SDHub-Gallery-Tab-Button-Row .sdhub-gallery-tab-button {
    font-size: unset;
    padding: 4px 10px;
    flex-shrink: 0;
  }
}

@media (min-width: 1280px) {
  .sdhub-gallery-image-box {
    height: 210px;
    width: 210px;
  }

  #SDHub-Gallery-Image {
    max-width: 210px;
    max-height: 210px;
  }

  .sdhub-gallery-tab-container {
    gap: 1.3rem;
  }
}

@media (min-width: 1360px) {
  .sdhub-gallery-image-box {
    height: 240px;
    width: 240px;
  }

  #SDHub-Gallery-Image {
    max-width: 240px;
    max-height: 240px;
  }

  .sdhub-gallery-tab-container {
    gap: 1.3rem;
  }
}

@media (min-width: 1600px) {
  .sdhub-gallery-image-box {
    height: 270px;
    width: 270px;
  }

  #SDHub-Gallery-Image {
    max-width: 270px;
    max-height: 270px;
  }

  .sdhub-gallery-tab-container {
    gap: 1.5rem;
  }
}

@media (min-width: 1920px) {
  .sdhub-gallery-image-box {
    height: 280px;
    width: 280px;
  }

  #SDHub-Gallery-Image {
    max-width: 280px;
    max-height: 280px;
  }

  #SDHub-Gallery-Image-Container:hover #SDHub-Gallery-Image-Context-Button {
    opacity: 1;
    transform: scale(1.4);
    pointer-events: auto;
  }

  .sdhub-gallery-tab-container {
    gap: 2rem;
  }
}

@media (min-width: 2560px) {
  .sdhub-gallery-image-box {
    height: 320px;
    width: 320px;
  }

  #SDHub-Gallery-Image {
    max-width: 320px;
    max-height: 320px;
  }

  #SDHub-Gallery-Image-Container:hover #SDHub-Gallery-Image-Context-Button {
    opacity: 1;
    transform: scale(1.5);
    pointer-events: auto;
  }

  .sdhub-gallery-tab-container {
    gap: 2rem;
  }
}

/* ############################################################################################################ */

#SDHub-Gallery-ContextMenu {
  display: block;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(0);
  z-index: 1000;
}

.sdhub-gallery-cm-ul {
  width: max-content;
  list-style: none;
  margin: 0;
  padding: 6px 0;
  font-family: var(--font);
  font-size: var(--body-text-size);
  background: var(--background-fill-secondary);
  color: var(--body-text-color);
  border-radius: 0.5rem;
  box-shadow:
    0 0 15px 2px #000,
    0 0 10px 0px #000;
  border: 1px solid var(--sdhub-gallery-cm-border);
}

#SDHub-Gallery-ContextMenu li {
  display: flex;
  height: auto;
  position: relative;
  justify-content: left;
  text-align: center;
  align-items: center;
  color: var(--body-text-color);
  padding: 5px 10px;
  border-radius: 0;
}

#SDHub-Gallery-ContextMenu li span {
  display: flex;
  justify-content: left;
  align-items: center;
}

.sdhub-cm-sendto {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu-arrow {
  position: absolute;
  right: 0;
  margin-right: 0 !important;
  transition: transform 0.3s ease;
  color: var(--sdhub-gallery-cm-arrow) !important;
}

#SDHub-Gallery-ContextMenu-SubMenu {
  position: absolute;
  top: 0;
  height: auto;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  transform: scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.sdhub-cm-sendto:hover #SDHub-Gallery-ContextMenu-SubMenu {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.sdhub-gallery-cm-svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  color: var(--body-text-color);
}

#SDHub-Gallery-ContextMenu li:hover {
  background: var(--sdhub-gallery-li-hover-background);
  color: var(--sdhub-gallery-li-hover-color);
  cursor: pointer;
}

#SDHub-Gallery-ContextMenu li:hover .submenu-arrow {
  color: var(--background-fill-primary) !important;
}

#SDHub-Gallery-ContextMenu li:hover .sdhub-gallery-cm-svg {
  color: var(--primary-600);
}

/* ############################################################################################################ */

#SDHub-Gallery-Image-Viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 0;
  overflow: hidden;
  backdrop-filter: blur(10px);
  transition: opacity 0.4s ease;
}

#SDHub-Gallery-Image-Viewer-Control {
  z-index: 1;
  height: 100%;
  width: 100%;
  pointer-events: none;
  top: 0;
  display: flex;
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s ease;
}

#SDHub-Gallery-Image-Viewer-Wrapper {
  height: 100%;
  display: flex;
  position: relative;
  opacity: 0;
  transform: translate(0px, 0px) scale(0);
  transition: transform 0.3s ease, opacity 0.4s ease-out;
}

#SDHub-Gallery-Image-Viewer-img {
  display: flex;
  align-self: center;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: relative;
  cursor: auto;
  user-select: none;
  -webkit-user-select: none;
  background-color: #212121;
  transform: translate(0px, 0px) scale(1);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.sdhub-gallery-image-viewer-button {
  display: flex;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  cursor: pointer;
  border: 0;
  color: var(--primary-400);
  background: transparent;
  position: absolute;
  filter:
    drop-shadow(0 0 4px rgba(0,0,0,1))
    drop-shadow(0 0 4px rgba(0,0,0,0.2))
    drop-shadow(0 0 4px rgba(0,0,0,0.2));
  transition: 0.3s ease;
}

.sdhub-gallery-image-viewer-button svg {
  filter:
    drop-shadow(0 0 2px rgba(0,0,0,0.5))
    drop-shadow(0 0 2px rgba(0,0,0,0.5))
    drop-shadow(0 0 2px rgba(0,0,0,0.5));
}

.sdhub-gallery-image-viewer-button:hover {
  transform: scale(1.3);
  color: var(--primary-400);
}

#SDHub-Gallery-Image-Viewer-Next-Button {
  top: 50%;
  right: 0;
  margin-right: 10px;
}

#SDHub-Gallery-Image-Viewer-Prev-Button {
  top: 50%;
  left: 0;
  margin-left: 10px;
}

#SDHub-Gallery-Image-Viewer-Close-Button {
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
}

/* ############################################################################################################ */

#SDHubimgInfoImage {
  height: unset !important;
  min-height: min(160px, 100%) !important;
  background: transparent;
  border-radius: 0.8rem !important;
  transition: 0.5s ease;
  box-shadow: inset 0 0 10px 0.2em var(--primary-400) !important;
}

#SDHubimgInfoImage img {
  cursor: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border-top-right-radius: 1rem;
  user-select: none;
  -webkit-user-select: none;
}

#sd-hub-gallery-image-info-clear-button {
  transform: scale(2);
  margin: 0;
  padding: 2px;
  gap: 0;
  border-radius: 0;
  border-bottom-left-radius: 7px;
  box-sizing: border-box;
  border: 0;
  color: var(--primary-400) !important;
  background: var(--input-background-fill);
  box-shadow: 0 0 5px 1px #000;
  transition: 0.3s ease;
  display: none;
}

#sd-hub-gallery-image-info-clear-button > div {
  position: relative;
  padding: 1px;
  border: 0;
}

#sd-hub-gallery-image-info-clear-button path {
  stroke-width: 5px !important;
}

#sd-hub-gallery-image-info-clear-button:hover {
  color: var(--primary-500) !important;
}

#SDHubimgInfoHTML {
  margin-left: 0.1rem !important;
  overflow-wrap: break-word;
  max-width: 100%;
  margin-bottom: -0.5rem !important;
  cursor: default;
}

#SDHubimgInfoOutputPanel {
  opacity: 0;
}

#SDHubimgInfoOutputPanel.show {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.gradio-container-4-40-0 #SDHubimgInfoOutputPanel {
  margin-left: -10px;
}

#SDHubimgInfoModelOutput {
  width: auto;
  height: auto;
  background-color: transparent;
  transition: all 0.3s ease;
}

.sdhubimginfo-outputsection {
  padding: 5px 8px;
  background: var(--input-background-fill);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  margin-bottom: 8px;
  cursor: default;
  transition: all 0.3s ease;
}

#SDHubimgInfoHTML .sdhubimginfo-p {
  line-height: 1.7;
  margin: 0;
}

.sdhubimginfo-outputsection:hover {
  background: var(--input-background-fill-hover);
}

.sdhubimginfo-outputsection.sdhubimginfo-modelBox {
  border: 0;
  padding: 0;
  background: 0;
  transition: none;
}

.sdhubimginfo-outputsection.sdhubimginfo-modelBox:hover {
  background-color: transparent;
}

.sdhubimginfo-display-model-output {
  animation: undressBox 1s forwards ease-out;
}

#SDHubimgInfoModelOutput a {
  white-space: nowrap;
  font-weight: normal;
}

.sdhubimginfo-borderpulse {
  animation: pulseBorder2 2s infinite alternate forwards;
}

@keyframes pulseBorder2 {
  0% {
    border-color: transparent;
    filter: drop-shadow(0 0 0 var(--primary-400));
    box-shadow: inset 0 0 0 0 transparent;
  }
  25% {
    border-color: var(--primary-400);
    filter: drop-shadow(0 0 2px var(--primary-400));
    box-shadow: inset 0 0 10px 0 var(--primary-400);
  }
  50% {
    border-color: var(--primary-400);
    filter: drop-shadow(0 0 5px var(--primary-400));
    box-shadow: inset 0 0 5px 0 var(--primary-400);
  }
  75% {
    border-color: var(--primary-400);
    filter: drop-shadow(0 0 2px var(--primary-400));
    box-shadow: inset 0 0 10px 0 var(--primary-400);
  }
  100% {
    border-color: transparent;
    filter: drop-shadow(0 0 0 var(--primary-400));
    box-shadow: inset 0 0 0 0 transparent;
  }
}

#SDHubimgInfoSendButton {
  display: none;
  margin-top: 0.2rem !important;
  grid-template-columns: 1fr 1fr !important;
  justify-content: center;
  align-items: center;
  flex-grow: 0 !important;
}

#SDHubimgInfoSendButton button {
  padding: 0.4rem;
  box-shadow: var(--sdhub-box-shadow);
  background: var(--sdhub-secondary-button-background);
  transition: 0.2s ease;
}

#SDHubimgInfoSendButton button:hover {
  z-index: 5;
  color: var(--background-fill-primary);
  box-shadow: 0 0 10px 1px var(--primary-400), 0 0 20px 2px var(--primary-400);
  background: var(--button-primary-background-fill);
}

#SDHubimgInfoSendButton button:nth-child(1) {
  border-top-left-radius: 0.8rem;
}

#SDHubimgInfoSendButton button:nth-child(2) {
  border-top-right-radius: 0.8rem;
}

#SDHubimgInfoSendButton button:nth-child(3) {
  border-bottom-left-radius: 0.8rem;
}

#SDHubimgInfoSendButton button:nth-child(4) {
  border-bottom-right-radius: 0.8rem;
}

#sdhub-tab .sdhubimginfo-copybuttons {
  display: block;
  color: var(--primary-400);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

#SDHub-seedButton {
  color: var(--primary-400);
  cursor: pointer;
  transition: color 0.3s ease;
}

#sdhub-tab .sdhubimginfo-copybuttons:hover,
#SDHub-seedButton:hover {
  color: var(--primary-600) !important;
}

#refresh-spinner {
  margin: 0 auto;
  animation: spinner 1s linear infinite;
}

.sdhub-gallery-spinner {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes undressBox {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

/* ############################################################################################################ */

#SDHub-Gallery-Delete-Container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.4s ease;
}

#SDHub-Gallery-Delete-Spinner {
  display: none;
  z-index: 5;
  position: absolute;
  color: var(--primary-400);
  pointer-events: none;
  transition: 0.3s ease;
  filter:
    drop-shadow(0 0 10px rgba(0, 0, 0, 0.6))
    drop-shadow(0 0 1px var(--primary-400))
    drop-shadow(0 0 6px black);
}

#SDHub-Gallery-Delete-Spinner svg {
  filter: drop-shadow(0 0 5px #000);
}

#SDHub-Gallery-Delete-Box {
  border: 0;
  position: absolute;
  width: 300px;
  background: var(--background-fill-secondary);
  padding: 20px;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 0 10px 2px var(--primary-400);
  transform: scale(0);
  opacity: 1;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

#SDHub-Gallery-Delete-Text {
  margin: 0 0 30px;
  font-size: 20px;
  color: var(--body-text-color);
  pointer-events: none;
}

#SDHub-Gallery-Delete-ButtonRow {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.sdhub-gallery-delete-button {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1px;
  border: 0;
  border-radius: 10px;
  background: var(--body-text-color);
  color: var(--background-fill-secondary);
  cursor: pointer;
  pointer-events: auto;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 2px #000;
  transition: 0.4s ease;
  font-weight: bold;
}

.sdhub-gallery-delete-button:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px var(--primary-500));
  box-shadow: 0 0 10px 1px var(--primary-500);
  color: var(--body-text-color);
  background: var(--button-primary-background-fill-hover);
}

/* ############################################################################################################ */

#SDHub-Gallery-imgchest-Button {
  position: absolute;
  width: max-content;
  display: flex;
  background: var(--background-fill-secondary);
  border-radius: 0.5em;
  padding: 1px;
  cursor: pointer;
  pointer-events: auto;
  border: 1px solid var(--background-fill-secondary);
  margin: 0;
  margin-top: 3px;
  z-index: 50;
  transition: 0.4s ease;
}

#SDHub-Gallery-imgchest-Button svg {
  height: 38px;
  width: 38px;
  border-radius: 0.5em;
}

#SDHub-Gallery-imgchest-Button:hover {
  border: 1px solid var(--primary-400) !important;
  filter: drop-shadow(0 0 10px var(--primary-400));
  box-shadow: 0 0 10px 1px var(--primary-400);
  background: var(--primary-400) !important;
}

#SDHub-Gallery-imgchest-Column {
  transform-origin: top left;
  display: none;
  position: absolute;
  width: max-content;
  padding: 10px;
  border-radius: 1rem;
  z-index: 50;
  max-width: 500px;
  flex-grow: 1;
  min-width: min(320px, 100%);
  border: 0;
  box-shadow: 0 0 6px 2px var(--primary-400);
  background: var(--background-fill-primary);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.4s ease, opacity 0.3s ease;
  gap: 5px;
  overflow: hidden;
}

#SDHub-Gallery-imgchest-Info {
  cursor: default;
  text-align: center;
  color: var(--body-text-color);
}

.sdhub-gallery-imgchest-info {
  transition: 0.6s ease;
}

.sdhub-gallery-imgchest-info:hover {
  color: var(--primary-400) !important;
}

#SDHub-Gallery-imgchest-Checkbox {
  margin: 0;
}

#SDHub-Gallery-imgchest-Checkbox input {
  transition: 0.7s ease;
  cursor: pointer;
  height: 30px;
  padding: 5px;
  border: 0;
  width: 100%;
  background-image: none;
  border-radius: var(--button-large-radius);
}

#SDHub-Gallery-imgchest-Checkbox span {
  transition: 0.7s ease;
}

#SDHub-Gallery-imgchest-Checkbox input:not(:checked):hover {
  box-shadow: inset 0 0 10px 3px var(--primary-400);
}

#SDHub-Gallery-imgchest-Checkbox input:checked {
  transition: 0.4s ease;
  background: var(--button-primary-background-fill);
}

#SDHub-Gallery-imgchest-Checkbox input:checked:hover {
  filter: drop-shadow(0 0 5px var(--primary-500));
  box-shadow: 0 0 10px 1px var(--primary-500);
  color: var(--body-text-color);
  background: var(--button-primary-background-fill-hover);
}

#SDHub-Gallery-imgchest-Checkbox input:checked:hover ~ span {
  color: var(--body-text-color) !important;
}

#SDHub-Gallery-imgchest-Checkbox span {
  pointer-events: none;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  position: absolute;
  font-weight: bold;
}

#SDHub-Gallery-imgchest-Privacy, 
#SDHub-Gallery-imgchest-NSFW {
  cursor: auto;
}

#SDHub-Gallery-imgchest-Privacy label,
#SDHub-Gallery-imgchest-Privacy input,
#SDHub-Gallery-imgchest-NSFW label,
#SDHub-Gallery-imgchest-NSFW input,
#SDHub-Gallery-imgchest-API input {
  transition: 0.4s ease;
}

#SDHub-Gallery-imgchest-Privacy input, 
#SDHub-Gallery-imgchest-NSFW input {
  cursor: pointer;
}

#SDHub-Gallery-imgchest-Privacy > span, 
#SDHub-Gallery-imgchest-NSFW > span {
  cursor: default;
  margin: 0;
}

#SDHub-Gallery-imgchest-API input:focus {
  filter: drop-shadow(0 0 1px var(--primary-400));
  box-shadow: 0 0 10px 1px var(--primary-400);
}

#SDHub-Gallery-imgchest-Save-Button,
#SDHub-Gallery-imgchest-Load-Button {
  min-width: 185px;
  padding: 4px 0;
  font-size: 18px;
  transition: 0.4s ease;
}

#SDHub-Gallery-imgchest-Save-Button:hover,
#SDHub-Gallery-imgchest-Load-Button:hover {
  filter: drop-shadow(0 0 5px var(--primary-500));
  box-shadow: 0 0 10px 1px var(--primary-500);
  color: var(--body-text-color);
  background: var(--button-primary-background-fill-hover);
}

@media (max-width: 600px) {
  #SDHub-Gallery-imgchest-Save-Button,
  #SDHub-Gallery-imgchest-Load-Button {
    min-width: 100px;
  }
}
