#tab_sdhub .tabs > .tab-nav > button.selected {
  color: var(--color-accent);
}

.hide-this {
  visibility: hidden !important;
}

#sdhub-downloader .dl-btn {
  width: 100px !important;
}

#sdhub-downloader .dl-row {
  margin-top: -7px !important;
}

#sdhub-uploader .up-btn {
  width: 100px !important;
}
#sdhub-uploader .up-input {
  margin-top: -15px !important;
}
#sdhub-uploader .up-row {
  margin-top: -14px !important;
}

#sdhub-archiver .arc-btn {
  width: 100px !important;
}
#sdhub-archiver .arc-input {
  margin-top: -15px !important;
}
#sdhub-archiver .arc-row {
  margin-top: -9px !important;
}
#sdhub-archiver .cb {
  margin-left: 60px !important;
}

#sdhub-downloader-inputs {
  margin-top: 10px;
}

#sdhub-downloader-scrape {
  transition: 0.4s ease;
  border-top-left-radius: var(--button-large-radius);
  border-bottom-left-radius: var(--button-large-radius);
}

#sdhub-downloader-txt {
  transition: 0.4s ease;
  border-top-right-radius: var(--button-large-radius);
  border-bottom-right-radius: var(--button-large-radius);
}

#sdhub-downloader-scrape:hover,
#sdhub-downloader-txt:hover {
  box-shadow: 0 0 0 1.5px var(--color-accent);
}

#sdhub-downloader-inputs textarea,
#sdhub-downloader-token1 input,
#sdhub-downloader-token2 input,
#sdhub-uploader-inputs textarea,
#sdhub-uploader-username-box input,
#sdhub-uploader-repo-box input,
#sdhub-uploader-branch-box input,
#sdhub-uploader-token input,
#sdhub-archiver-arc-inputname input,
#sdhub-archiver-arc-inputpath input,
#sdhub-archiver-arc-outputpath input,
#sdhub-archiver-extr-inputpath input,
#sdhub-archiver-extr-outputpath input {
  transition: 0.4s ease;
}

#sdhub-downloader-inputs textarea:focus,
#sdhub-downloader-token1 input:focus,
#sdhub-downloader-token2 input:focus,
#sdhub-uploader-inputs textarea:focus,
#sdhub-uploader-username-box input:focus,
#sdhub-uploader-repo-box input:focus,
#sdhub-uploader-branch-box input:focus,
#sdhub-uploader-token input:focus,
#sdhub-archiver-arc-inputname input:focus,
#sdhub-archiver-arc-inputpath input:focus,
#sdhub-archiver-arc-outputpath input:focus,
#sdhub-archiver-extr-inputpath input:focus,
#sdhub-archiver-extr-outputpath input:focus {
  box-shadow: 0 0 0 1.5px var(--color-accent);
}

.gradio-container-4-40-0 #sdhub-downloader-button-row,
.gradio-container-4-40-0 #sdhub-uploader-button-row,
.gradio-container-4-40-0 #sdhub-uploader-inputs {
  margin-top: -10px;
}

#sdhub-uploader-radio-box .svelte-1kzox3m,
#sdhub-uploader-radio-box .svelte-1p9xokt {
  margin-top: -1px;
}

#sdhub-repo {
  margin-bottom: -2px;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  transition: 0.4s ease;
  font-weight: normal;
}

#sdhub-repo:hover {
  color: var(--color-accent);
}

#sdhub-tab-title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
}

#sdhub-tab-info {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.8;
}

#sdhub-tab-info .sdhub-link,
#sdhub-tab-info .sdhub-nonlink {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--color-accent);
  transition: 0.4s ease;
}

#sdhub-tab-info .sdhub-link:hover {
  color: var(--color-accent);
  border: 1px solid orange;
}

#sdhub-tab-info .sdhub-nonlink {
  pointer-events: none;
}

#sdhub-tag-dataframe table {
  border-collapse: separate;
  cursor: auto;
}

#sdhub-tag-dataframe thead {
  pointer-events: none;
}

#sdhub-tag-dataframe thead > tr {
  text-align: center;
}

#sdhub-tag-dataframe thead svg,
#sdhub-tag-dataframe td {
  pointer-events: auto;
}

#sdhub-tag-dataframe td.pulse-td {
  animation: pulse-td-box 2s alternate forwards;
  animation-timing-function: ease;
}

@keyframes pulse-td-box {
  0% {
    box-shadow: inset 0 0 0 1px var(--ring-color);
  }
  25% {
    box-shadow: inset 0 0 0 1px transparent;
  }
  50% {
    box-shadow: inset 0 0 0 1px var(--ring-color);
  }
  75% {
    box-shadow: inset 0 0 0 1px transparent;
  }
  100% {
    box-shadow: inset 0 0 0 1px var(--ring-color);
  }
}
