#tab_sdhub .tabs > .tab-nav > button.selected {
  color: var(--color-accent);
}

.hide-this {
  visibility: hidden !important;
}

#sdhub-downloader .dl-btn {
  width: 100px !important;
}

#sdhub-downloader .dl-row {
  margin-top: -7px !important;
}

#sdhub-uploader .up-btn {
  width: 100px !important;
}
#sdhub-uploader .up-input {
  margin-top: -15px !important;
}
#sdhub-uploader .up-row {
  margin-top: -14px !important;
}

#sdhub-archiver .arc-btn {
  width: 100px !important;
}
#sdhub-archiver .arc-input {
  margin-top: -15px !important;
}
#sdhub-archiver .arc-row {
  margin-top: -9px !important;
}
#sdhub-archiver .cb {
  margin-left: 60px !important;
}

#sdhub-downloader-inputs {
  margin-top: 10px;
}

#sdhub-downloader-scrape {
  transition: 0.4s ease;
  border-top-left-radius: var(--button-large-radius);
  border-bottom-left-radius: var(--button-large-radius);
}

#sdhub-downloader-txt {
  transition: 0.4s ease;
  border-top-right-radius: var(--button-large-radius);
  border-bottom-right-radius: var(--button-large-radius);
}

#sdhub-downloader-scrape:hover,
#sdhub-downloader-txt:hover {
  box-shadow: 0 0 0 1.5px var(--color-accent);
}

#sdhub-downloader-inputs textarea,
#sdhub-downloader-token1 input,
#sdhub-downloader-token2 input,
#sdhub-uploader-inputs textarea,
#sdhub-uploader-username-box input,
#sdhub-uploader-repo-box input,
#sdhub-uploader-branch-box input,
#sdhub-uploader-token input,
#sdhub-archiver-arc-inputname input,
#sdhub-archiver-arc-inputpath input,
#sdhub-archiver-arc-outputpath input,
#sdhub-archiver-extr-inputpath input,
#sdhub-archiver-extr-outputpath input,
#sdhub-texteditor-inputs input,
#sdhub-shell-inputs textarea {
  transition: 0.4s ease;
}

#sdhub-downloader-inputs textarea:focus,
#sdhub-downloader-token1 input:focus,
#sdhub-downloader-token2 input:focus,
#sdhub-uploader-inputs textarea:focus,
#sdhub-uploader-username-box input:focus,
#sdhub-uploader-repo-box input:focus,
#sdhub-uploader-branch-box input:focus,
#sdhub-uploader-token input:focus,
#sdhub-archiver-arc-inputname input:focus,
#sdhub-archiver-arc-inputpath input:focus,
#sdhub-archiver-arc-outputpath input:focus,
#sdhub-archiver-extr-inputpath input:focus,
#sdhub-archiver-extr-outputpath input:focus,
#sdhub-texteditor-inputs input:focus,
#sdhub-shell-inputs textarea:focus {
  box-shadow: 0 0 0 1.5px var(--color-accent);
}

.gradio-container-4-40-0 #sdhub-downloader-button-row,
.gradio-container-4-40-0 #sdhub-uploader-button-row,
.gradio-container-4-40-0 #sdhub-uploader-inputs {
  margin-top: -10px;
}

#sdhub-uploader-radio-box .svelte-1kzox3m,
#sdhub-uploader-radio-box .svelte-1p9xokt {
  margin-top: -1px;
}

#sdhub-repo {
  margin-bottom: -2px;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  transition: 0.4s ease;
  font-weight: normal;
}

#sdhub-repo:hover {
  color: var(--color-accent);
}

#sdhub-tab-title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
}

#sdhub-tab-info {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.8;
}

#sdhub-tab-info .sdhub-link,
#sdhub-tab-info .sdhub-nonlink {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--color-accent);
  transition: 0.4s ease;
}

#sdhub-tab-info .sdhub-link:hover {
  color: var(--color-accent);
  border: 1px solid orange;
}

#sdhub-tab-info .sdhub-nonlink {
  pointer-events: none;
}

#sdhub-tag-dataframe table {
  border-collapse: separate;
  cursor: auto;
}

#sdhub-tag-dataframe thead {
  pointer-events: none;
}

#sdhub-tag-dataframe thead > tr {
  text-align: center;
}

#sdhub-tag-dataframe thead svg,
#sdhub-tag-dataframe td {
  pointer-events: auto;
}

#sdhub-tag-dataframe td.pulse-td {
  animation: pulse-td-box 2s alternate forwards;
  animation-timing-function: ease;
}

@keyframes pulse-td-box {
  0% {
    box-shadow: inset 0 0 0 1px var(--ring-color);
  }
  25% {
    box-shadow: inset 0 0 0 1px transparent;
  }
  50% {
    box-shadow: inset 0 0 0 1px var(--ring-color);
  }
  75% {
    box-shadow: inset 0 0 0 1px transparent;
  }
  100% {
    box-shadow: inset 0 0 0 1px var(--ring-color);
  }
}

#sdhub-texteditor-row {
  gap: inherit;
}

#sdhub-texteditor-inputs input {
  text-align: center;
}

#sdhub-texteditor-info {
  padding-right: 2rem !important;
  z-index: 9999;
  top: 3.2rem;
  right: 0;
  position: absolute;
}

#sdhub-texteditor-info > .wrap {
  display: none;
}

#sdhub-texteditor-info input {
  text-align: right;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: transparent;
}

#sdhub-texteditor-load-button, #sdhub-texteditor-save-button {
  transition: 0.3s ease;
}

#sdhub-texteditor-load-button:hover, #sdhub-texteditor-save-button:hover {
  box-shadow: 0 0 10px 2px var(--primary-400);
}

#sdhub-texteditor-editor {
  background: #1f1f1f;
  font-family: Consolas, 'Courier New', monospace;
  max-height: 1000px;
  overflow: auto !important;
}

#sdhub-texteditor-editor > div[data-testid="block-label"] {
  border: 1px solid #3a3a3a;
}

#sdhub-texteditor-editor .cm-content, #sdhub-texteditor-editor .cm-gutters {
  line-height: 1.4;
  font-size: 13px;
  font-family: Consolas, "Courier New", monospace;
}

#sdhub-texteditor-editor .cm-gutters {
  border-right: 1px solid #3a3a3a;
}

#sdhub-texteditor-editor span.\ͼ2c {
  color: #5e8a36;
  font-style: normal;
}

#sdhub-texteditor-editor span.\ͼ1q {
  color: #e89bdf;
}

#sdhub-texteditor-editor span.\ͼ1s {
  color: #31ffd5;
}

#sdhub-texteditor-editor span.\ͼ1t {
  color: #fffca4;
}

#sdhub-texteditor-editor span.\ͼ1x {
  color: #1c8fff;
}

#sdhub-texteditor-editor span.\ͼ1z {
  color: #fff;
}

#sdhub-texteditor-editor span.\ͼ21 {
  color: #fff;
}

#sdhub-texteditor-editor span.\ͼ23 {
  color: #cf6db9;
}

#sdhub-shell-button, #sdhub-shell-ghost-button {
  border: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0;
  line-height: 0;
  flex-grow: 0.1;
  min-width: min(3rem, 100%);
  font-size: 40px;
  height: 3rem;
  border-radius: 50%;
  transition: 0.3s ease;
}

#sdhub-shell-button:hover {
  box-shadow: 0 0 10px 2px var(--primary-400);
}

#sdhub-gallery-tab {
  padding-right: 0;
  padding-left: 0;
  border: 0;
}

#sdhub-gallery-tab-button-row {
  z-index: 1001;
  position: relative;
  top: 1px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

#sdhub-gallery-tab-button-row button {
  display: none;
  outline: none;
  top: 2px;
  position: relative;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: transparent;
  color: var(--body-text-color-subdued);
  transition: 0.4s ease;
  border: 2px solid transparent;
}

#sdhub-gallery-tab-button-row button.selected {
  color: var(--primary-400);
  border-color: #6a6a6a;
  background: var(--input-background-fill-focus);
  border-bottom: 2px solid transparent;
}

#sdhub-gallery-tab-button-row button:not(.selected):hover {
  color: var(--primary-600);
}

.sdhub-gallery-tab-div {
  max-height: calc(3* 15rem);
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: auto !important;
  background: var(--input-background-fill-focus);
  padding: 20px !important;
  flex-wrap: wrap;
  border: 2px solid #6a6a6a;
  border-radius: 25px;
  transition: 0.5s ease-in-out;
}

.sdhub-gallery-img-div {
  display: block;
  align-self: center;
  border-radius: 0.8rem;
  border: 1px solid transparent;
  background: transparent;
  z-index: 1000;
  width: 13rem;
  box-sizing: border-box;
  max-width: calc(19% - -1px);
  flex: 1 1 calc(19% - 10px);
}

@media (max-width: 768px) {
  .sdhub-gallery-img-div {
    max-width: calc(50% - -1px);
    flex: 1 1 calc(50% - 10px);
  }

  .sdhub-gallery-tab-div {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (min-width: 1920px) {
  .sdhub-gallery-img-div {
    max-width: calc(13% - -1px);
    flex: 1 1 calc(13% - 10px);
  }
}

.sdhub-gallery-img {
  transition: 0.3s ease;
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: contain;
}

.sdhub-gallery-img-loading {
  filter: blur(2px) brightness(0.7);
}

.sdhub-gallery-img:hover {
  box-shadow: 0 0 10px 0.4em var(--primary-400);
}

#sdhub-gallery-img-button-div {
  position: relative;
  display: none;
}

#sdhub-gallery-img-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: var(--layer-1);
  border: 0;
  border-radius: 0;
  color: var(--block-label-text-color);
  right: 0;
  top: 0;
  position: absolute;
  transition: 0.3s ease;
  transform: scale(1);
  background-color: var(--input-background-fill-focus);
  height: 30px;
  width: 30px;
  padding: 2px !important;
  box-shadow: 0 0 5px 2px #000;
  border-bottom-left-radius: 0.8rem;
}

#sdhub-imgdiv-0 {
  display: none;
}

.loading-blurry {
  transition: 0.5s ease;
  backdrop-filter: blur(5px);
}
body.no-scroll {
  overflow: hidden;
}

#sdhub-gallery-image-info {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  overflow: auto;
}

#sdhub-gallery-image-info-img {
  height: auto;
  width: 100%;
  object-fit: contain;
  border-radius: 0.7rem;
}

#sdhub-gallery-image-info-row {
  display: none;
  height: 100%;
  padding: 10px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background: var(--background-fill-primary);
  backdrop-filter: blur(5px);
  z-index: 99999;
  position: fixed;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* ############################################################################################################ */
/* ############################################################################################################ */
/* ############################################################################################################ */

#SDHubimgInfoImage {
  background: transparent;
  border-radius: 0.8rem !important;
  transition: 0.5s ease;
  box-shadow: inset 0 0 10px 0.2em var(--primary-400) !important;
}

#SDHubimgInfoImage img {
  cursor: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border-top-right-radius: 1rem;
}

#SDHubimgInfoImage button[aria-label="Remove Image"],
#SDHubimgInfoImage button[aria-label="Clear"] {
  transform: scale(2);
  margin: 0;
  padding: 2px;
  gap: 0;
  border-radius: 0;
  border-bottom-left-radius: 7px;
  box-sizing: border-box;
  border: 0;
  color: var(--primary-400) !important;
  background: var(--input-background-fill);
  box-shadow: 0 0 5px 1px #000;
  transition: 0.3s ease;
  display: none;
}

#SDHubimgInfoImage button[aria-label="Remove Image"] > div,
#SDHubimgInfoImage button[aria-label="Clear"] > div {
  position: relative;
  padding: 1px;
  border: 0;
}

#SDHubimgInfoImage button[aria-label="Remove Image"] path,
#SDHubimgInfoImage button[aria-label="Clear"] path {
  stroke-width: 5px !important;
}

#SDHubimgInfoImage button[aria-label="Remove Image"]:hover,
#SDHubimgInfoImage button[aria-label="Clear"]:hover {
  color: var(--primary-500) !important;
}

#SDHubimgInfoHTML {
  margin-left: 0.1rem !important;
  overflow-wrap: break-word;
  max-width: 100%;
  margin-bottom: -0.5rem !important;
}

#SDHubimgInfoOutputPanel {
  opacity: 0;
}

#SDHubimgInfoOutputPanel.show {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.gradio-container-4-40-0 #SDHubimgInfoOutputPanel {
  margin-left: -10px;
}

#SDHubimgInfoModelOutput {
  width: auto;
  height: auto;
  background-color: transparent;
  transition: all 0.3s ease;
}

.SDHubimgInfoOutputSection {
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0px;
  background: var(--input-background-fill);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  margin-bottom: 8px;
  transition: all 0.3s ease;
}

.SDHubimgInfoOutputSection:hover {
  background: var(--input-background-fill-hover);
}

.SDHubimgInfoOutputSection.modelBox {
  border: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  background: 0;
  transition: none;
}

.SDHubimgInfoOutputSection.modelBox:hover {
  background-color: transparent;
}

.SDHubimgInfoModelOutputReveal {
  animation: undressBox 1s forwards ease-out;
}

#SDHubimgInfoModelOutput .output-line {
  display: flex;
  padding: 0px;
  margin-bottom: 5px;
  border-radius: 5em;
}

#SDHubimgInfoModelOutput .label, #SDHubimgInfoModelOutput .hashes {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px 1px var(--primary-400);
}

#SDHubimgInfoModelOutput .label {
  width: 17%;
  background-color: var(--input-background-fill);
  font-size: 15px;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  align-items: center;
  justify-content: center;
}

#SDHubimgInfoModelOutput .hashes {
  width: 83%;
  overflow-wrap: break-word;
  column-gap: 7px;
  row-gap: 0px;
  border-left: 5px solid transparent;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: flex-start;
}

.SDHubimgInfoModelOutputNonLink {
  font-size: 14px;
  border: 1px solid transparent;
  padding: 2px 3px;
  margin: 3px 0;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.SDHubimgInfoModelOutputLink {
  font-size: 13px;
  text-decoration: none;
  border: 1px solid var(--primary-600);
  transition: color 0.2s ease !important;
  padding: 2px 3px;
  margin: 3px 0;
  background-color: var(--panel-background-fill);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
}

.SDHubimgInfoModelOutputLink:hover {
  color: var(--primary-400) !important;
  border: 1px solid var(--link-text-color-hover);
}

#SDHubimgInfoModelOutput a {
  white-space: nowrap;
  font-weight: normal;
}

.SDHubimgInfoBorderPulse {
  animation: pulseBorder2 2s infinite alternate forwards;
}

@keyframes pulseBorder2 {
  0% {
    box-shadow: inset 0 0 0px 0em transparent;
  }
  25% {
    box-shadow: inset 0 0 10px 0.2em var(--primary-400);
  }
  50% {
    box-shadow: inset 0 0 5px 0.1em var(--primary-400);
  }
  75% {
    box-shadow: inset 0 0 10px 0.2em var(--primary-400);
  }
  100% {
    box-shadow: inset 0 0 0px 0em transparent;
  }
}

#SDHubimgInfoSendButton {
  display: none;
  margin-top: 0.2rem !important;
  grid-template-columns: 1fr 1fr !important;
  justify-content: center;
  align-items: center;
  flex-grow: 0 !important;
}

#SDHubimgInfoSendButton button.svelte-cmf5ev {
  transition: 0.2s ease;
  padding: 0.4rem;
}

#SDHubimgInfoSendButton button.svelte-cmf5ev:hover {
  box-shadow: inset 0 0 5px 0.1em var(--primary-400);
}

#SDHubimgInfoSendButton button.svelte-cmf5ev:nth-child(1) {
  border-top-left-radius: 0.8rem;
}

#SDHubimgInfoSendButton button.svelte-cmf5ev:nth-child(2) {
  border-top-right-radius: 0.8rem;
}

#SDHubimgInfoSendButton button.svelte-cmf5ev:nth-child(3) {
  border-bottom-left-radius: 0.8rem;
}

#SDHubimgInfoSendButton button.svelte-cmf5ev:nth-child(4) {
  border-bottom-right-radius: 0.8rem;
}

.SDHubimgInfoButtons {
  transition: color 0.3s ease;
}

.SDHubimgInfoButtons:hover {
  color: var(--primary-600) !important;
}

#refresh-spinner {
  margin: 0 auto;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes undressBox {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
