:root {
  --sdhub-gallery-tab-background: var(--input-background-fill-hover);
  --sdhub-gallery-cm-ul-background: rgb(255 255 255 / 70%);
  --sdhub-gallery-cm-ul-box-shadow: 0 0 1px 0 rgb(0 0 0 / 65%), inset 0 0 10px 1px rgb(0 0 0 / 65%), inset 0 0 1px 1px rgb(0 0 0 / 25%), 0 0 10px 0 rgb(0 0 0 / 70%);
  --sdhub-gallery-cm-li-hover-background: rgb(0 0 0 / 67%);
  --sdhub-gallery-cm-li-hover-color: var(--background-fill-primary);
  --sdhub-gallery-cm-line: 1px solid rgb(0 0 0 / 40%);
  --output-text-color: #fff;
  --sdhub-gallery-img-size: 240px;
  --sdhub-gallery-img-name-box-shadow: 0 0 3px 1px rgb(255 255 255 / 90%);
  --sdhub-gallery-img-name-background: rgb(255 255 255 / 70%);
  --sdhub-gallery-img-button-radius: 10px;
  --sdhub-gallery-box-shadow-1: inset 0 0 3px 1px var(--primary-400), 0 0 2px 0 var(--primary-400), 0 0 5px 1px #000;
  --sdhub-gallery-box-shadow-2: 0 0 5px 3px rgb(0 0 0 / 80%);
  --sdhub-gallery-items-color: var(--body-text-color);
  --sdhub-gallery-items-background: var(--primary-400);
}

.dark {
  --sdhub-gallery-tab-background: var(--input-background-fill);
  --sdhub-gallery-cm-ul-background: rgb(0 0 0 / 60%);
  --sdhub-gallery-cm-ul-box-shadow: 0 0 1px 0 rgb(255 255 255), inset 0 0 10px 1px rgb(187 187 187), inset 0 0 1px 1px rgb(82 82 82), 0 0 10px 2px rgb(0 0 0);
  --sdhub-gallery-cm-li-hover-background: rgb(255 255 255 / 70%);
  --sdhub-gallery-cm-li-hover-color: var(--background-fill-primary);
  --sdhub-gallery-cm-line: 1px solid rgb(255 255 255 / 40%);
  --output-text-color: var(--body-text-color);
  --sdhub-gallery-img-name-box-shadow: 0 0 3px 1px rgb(0 0 0 / 80%);
  --sdhub-gallery-img-name-background: rgb(0 0 0 / 70%);
  --sdhub-gallery-box-shadow-2: 0 0 5px 3px rgb(208 208 208 / 44%);
  --sdhub-gallery-items-color: var(--primary-400);
  --sdhub-gallery-items-background: rgb(0 0 0 / 80%);
}

.sdhub-clear-text {
  color: transparent;
  background: linear-gradient(to right, var(--body-text-color), var(--body-text-color));
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100%;
}

body.sdhub-body-no-scrolling {
  overflow: hidden;
}

#SDHub-Gallery-Imageinfo-img > div > div > div > button:nth-child(2),
.gradio-container-4-40-0 #SDHub-Gallery-Imageinfo-img > div > div > button {
  display: none;
}

@media (max-width: 768px) {
  #SDHubGallery * {
    -webkit-tap-highlight-color: transparent;
  }
}

/* ############################################################################################################ */

#SDHub-Gallery-Sticky-Container {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#SDHub-Gallery-Tab {
  min-height: 40px;
  border: 0;
  margin: 18px 0px 0px;
  padding: 0;
  border-radius: 1rem;
  overflow: visible;
}

#SDHub-Gallery-Wrapper {
  display: block;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  background: transparent;
  border-radius: 0 0 1rem 1rem;
}

#SDHub-Gallery-Layer {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  inset: 0;
  opacity: 0;
  backdrop-filter: blur(4px);
  transition: opacity .4s ease;
}

#SDHub-Gallery-Tab-Button-Row {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: sticky;
  z-index: 2;
  top: 0;
  min-height: 44px;
  max-width: 100%;
  padding: 5px 50px;
  border: 1px solid var(--primary-400);
  border-radius: 100px;
  box-shadow: var(--sdhub-box-shadow-primary);
  background: var(--sdhub-gallery-tab-background);
}

#SDHub-Gallery-Tab-Button-Row .sdhub-gallery-tab-button {
  display: none;
  outline: none;
  position: relative;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  text-align: center;
  font-weight: normal;
  max-width: 100%;
  border: 0;
  border-radius: 1rem;
  padding: 3px 15px;
  background: transparent;
  color: var(--body-text-color);
  box-shadow: inset 0 0 5px 1px #000, 0 0 5px 0 #000;
  transition: .3s ease;
}

#SDHub-Gallery-Tab-Button-Row .sdhub-gallery-tab-button.selected {
  cursor: default;
  box-shadow: var(--sdhub-tab-button-box-shadow);
  color: var(--sdhub-gallery-items-color);
  background: var(--sdhub-gallery-items-background);
}

#SDHub-Gallery-Tab-Button-Row .sdhub-gallery-tab-button.selected:hover {
  box-shadow: var(--sdhub-tab-button-box-shadow-hover);
}

#SDHub-Gallery-Tab-Button-Row .sdhub-gallery-tab-button:not(.selected):hover {
  box-shadow: inset 0 0 5px 1px var(--primary-400), 0 0 10px 1px var(--primary-400);
}

#SDHub-Gallery-Tab-Button-Row .sdhub-gallery-ex-button {
  display: flex;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: -1px;
  height: 43px;
  width: 43px;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  transform-origin: center;
  transition: .4s ease, transform 1s ease;
}

#SDHub-Gallery-Tab-Wrapper {
  position: relative;
  z-index: 1;
}

#SDHub-Gallery-Tab-Layer {
  display: none;
  position: absolute;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  top: -10px;
  left: -10px;
  backdrop-filter: blur(2.5px);
  background: var(--sdhub-gallery-tab-layer-background);
  opacity: 0;
  transition: .3s ease;
  z-index: 2;
}

#SDHub-Tab .sdhub-gallery-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  z-index: 3;
  bottom: 55px;
  width: 45px;
  height: 45px;
  transform: scale(0);
  transition: .3s ease;
}

#SDHub-Gallery-Page-Arrow-Layer {
  z-index: 2;
  border-radius: 50%;
}

#SDHub-Tab .sdhub-gallery-arrow-scroll {
  display: flex;
  border: 2px solid var(--primary-400);
  border-radius: 50%;
  box-shadow: var(--sdhub-box-shadow-primary);
  background: var(--sdhub-gallery-background-secondary);
  color: var(--primary-400);
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: .3s ease;
}

#SDHub-Tab .sdhub-gallery-arrow-scroll > svg {
  transition: .3s ease;
}

#SDHub-Tab .sdhub-gallery-arrow-scroll:hover,
#SDHub-Tab .sdhub-gallery-arrow-scroll:hover > svg {
  filter: drop-shadow(0 0 2px var(--primary-400));
}

#SDHub-Tab .sdhub-gallery-arrow-scroll polygon {
  transform: scale(90%);
  transform-origin: center;
}

#SDHub-Gallery-Page-Arrow-Button.sdhub-gallery-arrowscroll-display {
  pointer-events: auto;
  opacity: 1;
}

#SDHub-Gallery-Tab-Counter-Container {
  position: relative;
  margin-left: 10px;
  z-index: 3;
}

.sdhub-gallery-tab-image-counter {
  display: none;
  position: absolute;
  left: 10px;
  font-size: 14px;
  height: 24px;
  max-width: max-content;
  margin: 0;
  padding: 2px 12px;
  border: 0;
  border-radius: 12px;
  box-shadow: var(--sdhub-tab-button-box-shadow);
  color: var(--sdhub-gallery-items-color);
  background: transparent;
  transition: .3s ease;
  user-select: none;
  -webkit-user-select: none;
}

.sdhub-gallery-tab-image-counter:hover {
  box-shadow: var(--sdhub-tab-button-box-shadow-hover);
}

.sdhub-gallery-tab-container {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  background: transparent;
  flex-wrap: wrap;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 0 1rem 1rem;
}

.sdhub-gallery-img-box {
  display: flex;
  flex-grow: 0;
  flex-basis: 0;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.sdhub-gallery-img-container {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  object-fit: none;
  position: relative;
  z-index: 1;
  max-height: var(--sdhub-gallery-img-size);
  max-width: var(--sdhub-gallery-img-size);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #000;
  transform: translate(0px, 0px) scale(1);
  transition: .3s ease;
}

.sdhub-gallery-img-container:hover,
.sdhub-gallery-img-box.sdhub-gallery-img-selected > .sdhub-gallery-img-container {
  box-shadow: 0 0 1px 1px transparent;
}

.sdhub-gallery-img-wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.sdhub-gallery-img-border {
  display: block;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-400);
  border-radius: 10px;
  box-shadow: 0 0 0 0 transparent, 0 0 5px 1px var(--primary-400), inset 0 0 3px 0 var(--primary-400);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.sdhub-gallery-img-box.sdhub-gallery-img-selected .sdhub-gallery-img-border {
  border-color: var(--sdhub-gallery-img-selected) !important;
  box-shadow: 0 0 0 0 transparent, 0 0 3px 1px var(--sdhub-gallery-img-selected), inset 0 0 3px 0 var(--sdhub-gallery-img-selected) !important;
  visibility: visible;
  opacity: 1;
}

.sdhub-gallery-img-container:hover .sdhub-gallery-img-border {
  opacity: 1;
  visibility: visible;
}

#SDHub-Tab .sdhub-sticky-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: .3s ease;
}

#SDHub-Tab .sdhub-sticky-container > * {
  pointer-events: auto;
}

#SDHub-Gallery-Page-Arrow-Container {
  align-items: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  padding-bottom: 55px;
}

#SDHub-Gallery-Batch-Container {
  align-items: flex-start;
  justify-content: flex-end;
  align-content: flex-start;
}

#SDHub-Gallery-Batch-Box {
  display: none;
  flex-direction: row;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 3;
  gap: 25px;
  opacity: 0;
  height: 44px;
  width: max-content;
  padding: 6px 20px;
  border: 1px solid var(--primary-400);
  border-radius: 8px;
  box-shadow: var(--sdhub-box-shadow-primary);
  background: var(--sdhub-gallery-background-secondary);
  transform: scaleY(0.5);
  transform-origin: center;
  transition: .3s ease;
}

#SDHub-Gallery-Batch-Box-Layer {
  border-radius: 8px;
}

#SDHub-Gallery-Batch-Box.sdhub-gallery-batchbox-display {
  opacity: 1;
  transform: scaleY(var(--sdhub-scale));
}

#SDHub-Gallery-Batch-Box .sdhub-gallery-batch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#SDHub-Gallery-Batch-Box .sdhub-gallery-batch-button > svg {
  width: 28px;
  height: 28px;
  margin: 0;
  color: var(--body-text-color);
  stroke: currentColor;
  transition: color .4s ease;
}

#SDHub-Gallery-Batch-Box .sdhub-gallery-batch-button:hover > svg {
  color: var(--primary-400);
}

#SDHub-Gallery-Batch-Download > svg {
  transform: scale(95%);
}

#SDHub-Gallery-Batch-Setting > svg {
  transform: scale(110%);
}

#SDHub-Gallery-Tab .sdhub-gallery-img {
  max-width: var(--sdhub-gallery-img-size);
  max-height: var(--sdhub-gallery-img-size);
  object-fit: contain;
  user-select: none;
  -webkit-user-select: none;
  transform: scale(101.1%);
  transform-origin: top;
  transition: transform .7s ease, object-position .6s ease, filter .6s ease;
}

#SDHub-Gallery-Tab .sdhub-gallery-img-container:hover .sdhub-gallery-img {
  transform: scale(120%);
}

.sdhub-gallery-img-name {
  display: block;
  pointer-events: none;
  overflow: hidden;
  visibility: hidden;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 2px 6px 3px 50px;
  border: 0;
  width: 100%;
  color: var(--body-text-color);
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  text-overflow: ellipsis;
  box-shadow: var(--sdhub-gallery-img-name-box-shadow);
  background: var(--sdhub-gallery-img-name-background);
  opacity: 0;
  transform: translateY(120%);
  transition: .3s ease;
  user-select: none;
  -webkit-user-select: none;
}

.sdhub-gallery-img-box.sdhub-gallery-img-selected .sdhub-gallery-img-name {
  color: var(--background-fill-primary) !important;
  box-shadow: 0 0 3px 1px var(--sdhub-gallery-img-name-box-shadow-selected) !important;
  background: var(--sdhub-gallery-img-name-background-selected) !important;
}

.sdhub-gallery-img-box.sdhub-gallery-img-selected .sdhub-gallery-img-name,
.sdhub-gallery-img-box:not(.sdhub-gallery-img-selected) .sdhub-gallery-img-container:hover .sdhub-gallery-img-name {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.sdhub-gallery-img-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: absolute;
  z-index: 50;
  height: 36px;
  width: 36px;
  padding: 2px;
  border-radius: 0;
  color: var(--primary-400);
  background: var(--input-background-fill-hover);
  box-shadow: 0 0 3px 1px #000;
  opacity: 0;
  transform: scale(0);
  will-change: transform;
  transition: .3s ease;
}

.sdhub-gallery-img-box.sdhub-gallery-img-selected .sdhub-gallery-img-btn {
  background: var(--sdhub-gallery-img-selected) !important;
}

.sdhub-gallery-img-btn-checkbox {
  pointer-events: auto !important;
  top: 0;
  left: 0;
  border-bottom-right-radius: var(--sdhub-gallery-img-button-radius);
  transform-origin: top left;
}

.sdhub-gallery-img-btn-checkbox > svg {
  pointer-events: none;
  height: 26px;
  width: 26px;
}

.sdhub-gallery-img-btn-checkbox .sdhub-unselect-svg {
  color: rgb(255 53 53);
}

.sdhub-gallery-img-btn-checkbox.sdhub-gallery-img-selected {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.sdhub-gallery-img-btn-contextmenu {
  top: 0;
  right: 0;
  border-bottom-left-radius: var(--sdhub-gallery-img-button-radius);
  transform-origin: top right;
}

.sdhub-gallery-img-btn-contextmenu > svg {
  height: 30px;
  width: 30px;
}

.sdhub-gallery-img-btn-imageviewer {
  bottom: 0;
  left: 0;
  border-top-right-radius: var(--sdhub-gallery-img-button-radius);
  transform-origin: bottom left;
}

.sdhub-gallery-img-btn-imageviewer svg {
  height: 27px;
  width: 27px;
}

.sdhub-gallery-img-container:hover .sdhub-gallery-img-btn {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.sdhub-gallery-img-emptyframe {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: .3s ease, background-color .4s ease;
}

.sdhub-gallery-img-container:hover .sdhub-gallery-img-emptyframe {
  box-shadow: inset 0 0 15px 5px var(--background-fill-primary);
  opacity: 1;
}

.sdhub-gallery-img-box.sdhub-gallery-img-selected .sdhub-gallery-img-emptyframe {
  box-shadow: inset 0 0 15px 5px var(--sdhub-gallery-img-selected) !important;
  opacity: 1;
}

#SDHub-Gallery-Image-Box-0 {
  display: none;
}

@media (max-width: 600px) {
  #SDHub-Gallery-Tab-Button-Row {
    gap: 10px;
  }

  #SDHub-Gallery-Tab-Button-Row .sdhub-gallery-tab-button {
    font-size: unset;
    padding: 4px 10px;
    flex-shrink: 0;
  }

  .sdhub-gallery-img-btn-checkbox {
    transform: scale(1) !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}

@media (min-width: 1920px) {
  .sdhub-gallery-img-container:hover .sdhub-gallery-img-btn {
    transform: scale(1.4);
  }
}

@media (min-width: 2560px) {
  .sdhub-gallery-img-container:hover .sdhub-gallery-img-btn {
    transform: scale(1.5);
  }
}

.sdhub-gallery-img-pulse {
  filter: brightness(0.5) blur(3px);
}

/* ############################################################################################################ */

#SDHub-Gallery-Page-Nav-Box {
  display: none;
  align-items: center;
  gap: 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 5px;
  height: 44px;
  width: 100%;
  border-radius: 12px;
  background: transparent;
  border: 0;
  box-shadow: none;
  pointer-events: none;
}

.sdhub-gallery-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 20px;
  max-height: 100%;
  width: 100%;
  padding: 0;
}

.sdhub-gallery-page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  height: 44px;
  width: 100%;
  gap: 1rem;
  padding: 5px 10px;
  border-radius: 100px;
  bottom: 0;
  z-index: 2;
  background: var(--sdhub-gallery-tab-background);
  border: 1px solid var(--primary-400);
  box-shadow: var(--sdhub-box-shadow-primary);
}

.sdhub-gallery-page-nav .sdhub-gallery-page-nav-button {
  color: var(--primary-400);
  filter: brightness(0.5) drop-shadow(0 0 2px #000);
  pointer-events: none;
  outline: none;
  transition: filter .4s ease;
}

.sdhub-gallery-page-nav .sdhub-gallery-page-nav-button > svg {
  width: 34px;
  height: 34px;
}

.sdhub-gallery-page-nav .sdhub-gallery-page-nav-button.btn-on {
  filter: brightness(1) drop-shadow(0 0 2px #000);
  pointer-events: auto;
  cursor: pointer;
}

.sdhub-gallery-page-nav .sdhub-gallery-page-nav-button.btn-on:hover {
  filter: brightness(1) drop-shadow(0 0 3px var(--primary-400)) drop-shadow(0 0 2px var(--primary-500));
}

.sdhub-gallery-page-indicator {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  height: 24px;
  min-width: 58px;
  margin: 0;
  padding: 2px 12px;
  border: 0;
  border-radius: 14px;
  box-shadow: var(--sdhub-tab-button-box-shadow);
  color: var(--sdhub-gallery-items-color);
  background: transparent;
  transition: .3s ease;
  user-select: none;
  -webkit-user-select: none;
}

.sdhub-gallery-page-indicator:hover {
  box-shadow: var(--sdhub-tab-button-box-shadow-hover);
}

.sdhub-gallery-pages {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  row-gap: 12px;
  position: relative;
  left: 0;
  right: 0;
  max-height: calc(100vh + 400px);
  width: 100%;
  padding: 15px 10px;
  border: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  will-change: transform;
  overflow-y: auto !important;
}

.sdhub-gallery-pages.selected-page {
  display: flex;
}

/* ############################################################################################################ */

#SDHub-Gallery-ContextMenu {
  display: block;
  position: fixed;
  z-index: 1000;
  transform: scale(0);
  pointer-events: auto;
  transition: transform .3s ease;
}

.sdhub-gallery-cm-ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  cursor: pointer;
  list-style: none;
  height: max-content;
  width: max-content;
  margin: 0;
  padding: 8px 0;
  font-family: var(--font);
  font-size: var(--body-text-size);
  color: var(--body-text-color);
  background: var(--sdhub-gallery-cm-ul-background);
  box-shadow: var(--sdhub-gallery-cm-ul-box-shadow);
  border: 0;
  border-radius: 12px;
  filter: drop-shadow(0 0 1px rgb(0 0 0 / 30%));
  backdrop-filter: blur(4px);
  opacity: 0;
  transition: opacity .3s ease;
}

#SDHub-Gallery-ContextMenu li {
  display: flex;
  height: 30px;
  position: relative;
  justify-content: left;
  text-align: center;
  align-items: center;
  color: var(--body-text-color);
  padding: 0 10px;
  border-radius: 0;
}

#SDHub-Gallery-ContextMenu li span {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 15px;
}

.sdhub-gallery-cm-sendto {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu-arrow {
  position: absolute;
  right: 5px;
  margin-right: 0 !important;
  transition: transform .3s ease;
  color: var(--body-text-color) !important;
}

.sdhub-gallery-cm-line {
  border-top: var(--sdhub-gallery-cm-line);
}

#SDHub-Gallery-ContextMenu-SubMenu-SendTo {
  position: absolute;
  top: 0;
  height: auto;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  transform: scale(0);
  transition: transform .3s ease;
}

#SDHub-Gallery-ContextMenu li > span > svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  color: var(--body-text-color);
}

#SDHub-Gallery-ContextMenu li:hover > span > svg {
  color: var(--primary-600);
}

#SDHub-Gallery-ContextMenu li:hover {
  background: var(--sdhub-gallery-cm-li-hover-background);
  color: var(--sdhub-gallery-cm-li-hover-color);
}

#SDHub-Gallery-ContextMenu li.sdhub-gallery-cm-sendto:hover .submenu-arrow {
  color: var(--primary-600) !important;
}

/* ############################################################################################################ */

#SDHub-Gallery-Image-Viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 0;
  overflow: hidden;
  backdrop-filter: blur(3px);
  transition: opacity .2s ease-out;
}

#SDHub-Gallery-Image-Viewer-Control {
  z-index: 1;
  height: 100%;
  width: 100%;
  pointer-events: none;
  top: 0;
  display: flex;
  position: absolute;
  opacity: 1;
  transition: opacity .25s;
}

#SDHub-Gallery-Image-Viewer-Wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 0;
  transform: translate(0px, 0px) scale(1.4);
  transition: transform .2s ease-out;
}

#SDHub-Gallery-Image-Viewer-img {
  display: flex;
  position: relative;
  object-fit: contain;
  align-self: center;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  background-color: #212121;
  transform: translate(0px, 0px) scale(var(--sdhub-scale));
  transition: transform .2s ease-out;
}

#SDHub-Gallery-Image-Viewer-img.sdhub-gallery-img-0 {
  opacity: 0;
}

.sdhub-gallery-img-viewer-button {
  display: flex;
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--primary-400);
  background: transparent;
  pointer-events: auto;
  cursor: pointer;
  transition: .3s ease;
}

.sdhub-gallery-img-viewer-button svg {
  filter: drop-shadow(0 0 4px rgb(0 0 0 / 60%))
          drop-shadow(0 0 3px rgb(0 0 0 / 60%))
          drop-shadow(0 0 2px rgb(0 0 0 / 90%));
  width: 45px;
  height: 45px;
}

.sdhub-gallery-img-viewer-button:hover {
  transform: scale(1.3);
  color: var(--primary-400);
}

#SDHub-Gallery-Image-Viewer-Next-Button {
  top: 50%;
  right: 0;
  margin-right: 5px;
}

#SDHub-Gallery-Image-Viewer-Prev-Button {
  top: 50%;
  left: 0;
  margin-left: 5px;
}

#SDHub-Gallery-Image-Viewer-Close-Button {
  display: flex !important;
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  margin: 0;
  gap: 0;
  padding: 0;
  border: 0;
  border-radius: 0 0 0 1.5rem;
  box-sizing: border-box;
  pointer-events: auto;
  color: var(--primary-400) !important;
  background: var(--input-background-fill);
  box-shadow: 0 0 7px 2px #000;
  filter: none;
  transform: scale(1);
  transition: .2s ease;
}

#SDHub-Gallery-Image-Viewer-Close-Button svg {
  position: fixed;
  top: 3px;
  right: 3px;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 3px rgb(0 0 0 / 50%))
          drop-shadow(0 0 2px rgb(0 0 0 / 50%))
          drop-shadow(0 0 2px rgb(0 0 0 / 50%));
  transition: .2s ease;
}

#SDHub-Gallery-Image-Viewer-Close-Button:hover {
  background: red !important;
  filter: drop-shadow(0 0 10px red);
}

#SDHub-Gallery-Image-Viewer-Close-Button:hover svg {
  color: #fff;
}

#SDHub-Gallery-Image-Viewer-Control.sdhub-gallery-pointer-events-none {
  opacity: 0;
}

.sdhub-gallery-pointer-events-none * {
  pointer-events: none !important;
}

/* ############################################################################################################ */

#SDHub-Gallery-Imageinfo-Row {
  display: none;
  position: fixed;
  gap: 0 !important;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  box-sizing: border-box;
  background: var(--input-background-fill-hover) !important;
  border-radius: 0;
  z-index: 99;
  inset: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  opacity: 0;
  transition: opacity .3s ease;
  scrollbar-width: none;
}

#SDHub-Gallery-Imageinfo-Row > .form {
  width: 100%;
}

#SDHub-Gallery-Imageinfo-img {
  display: flex;
  position: static;
  height: 100% !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-grow: 3 !important;
  flex: unset;
  border: 2px solid #000 !important;
  background: #000;
  border-radius: 1rem !important;
  overflow: hidden !important;
}

#SDHub-Gallery-Imageinfo-img img {
  display: flex;
  position: fixed;
  object-fit: cover;
  object-position: center 10%;
  cursor: default;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 0;
  inset: 0;
  user-select: none;
  -webkit-user-select: none;
  transition: opacity 1s ease;
}

#SDHub-Gallery-Imageinfo-img-frame {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 10px 5px #000;
  filter: drop-shadow(0 0 1px #000);
}

#SDHub-Gallery-Imageinfo-Clear-Button {
  display: flex !important;
  position: fixed;
  z-index: 1;
  height: 60px;
  width: 60px;
  top: 3px;
  right: 3px;
  margin: 0;
  gap: 0;
  padding: 6px;
  border-radius: 0 0 0 1.5rem;
  box-sizing: border-box;
  border: 0;
  color: var(--primary-400) !important;
  background: var(--input-background-fill);
  box-shadow: 0 0 5px 3px #000;
  pointer-events: auto;
  cursor: pointer;
  transition: .2s ease;
}

#SDHub-Gallery-Imageinfo-Clear-Button > div {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
}

#SDHub-Gallery-Imageinfo-Clear-Button svg {
  filter:
    drop-shadow(0 0 2px rgba(0, 0, 0, 0.5))
    drop-shadow(0 0 2px rgba(0, 0, 0, 0.5))
    drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

#SDHub-Gallery-Imageinfo-Clear-Button path {
  stroke-width: 5px !important;
}

#SDHub-Gallery-Imageinfo-Clear-Button:hover {
  color: #fff !important;
  background: red;
  filter: drop-shadow(0 0 10px red);
}

#SDHub-Gallery-Imageinfo-SendButton {
  display: grid;
  grid-template-columns: 1fr !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 0;
  width: max-content;
  padding: 20px 0 0 20px !important;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s;
}

#SDHub-Gallery-Imageinfo-SendButton.sdhub-gallery-display-output-panel {
  opacity: 1;
  pointer-events: auto;
  transition: opacity .6s ease;
}

#SDHub-Gallery-Imageinfo-SendButton button {
  border: 1px solid #000;
  position: relative;
  padding: 5px 20px;
  border-radius: 1rem;
  box-shadow: 0 0 7px 1px #000;
  white-space: nowrap;
  transition: .2s ease;
}

#SDHub-Gallery-Imageinfo-SendButton button:hover {
  box-shadow: 0 0 5px 1px var(--primary-400);
  filter: drop-shadow(0 0 5px var(--primary-400));
  border-color: var(--background-fill-primary);
  color: var(--background-fill-primary);
  background: var(--button-primary-background-fill);
}

#SDHub-Gallery-Imageinfo-Output-Panel {
  display: flex;
  position: absolute;
  gap: 0 !important;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  pointer-events: none;
  background: transparent !important;
  transition: opacity 1s ease;
}

#SDHub-Gallery-Imageinfo-Output-Panel.sdhub-gallery-display-output-panel {
  opacity: 1;
}

#SDHub-Gallery-Imageinfo-Output-Panel.sdhub-gallery-display-output-fail {
  height: 100%;
}

#SDHub-Gallery-Imageinfo-img-area {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  opacity: 1;
  pointer-events: auto;
}

#SDHub-Gallery-Imageinfo-HTML {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-wrap: break-word;
  height: 100%;
  gap: 1.2rem;
  max-width: 100%;
  margin-top: 240px;
  padding: 0 20px 20px 20px !important;
  border-radius: 0.8rem !important;
  pointer-events: none;
}

#SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-output-section {
  color: var(--output-text-color);
  border: 0;
  margin: 0;
  background: transparent;
  filter: drop-shadow(0 0 4px #000);
  cursor: default;
  transition: .3s ease;
}

#SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-output-title {
  display: flex;
  position: relative;
  z-index: 2;
  font-weight: bold;
  cursor: default;
  width: max-content;
  font-size: 16px;
  text-align: center;
  color: var(--primary-400);
  justify-content: flex-start;
  margin: 0;
  border: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 4px 10px;
  background: var(--sdhub-gallery-output-background);
  filter: drop-shadow(0 0 5px var(--sdhub-gallery-output-background));
  pointer-events: auto;
  transition: .4s ease;
}

#SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-copybutton {
  cursor: pointer;
  transition: .4s ease;
}

#SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-copybutton:hover {
  color: var(--background-fill-primary);
  background: var(--primary-400);
  box-shadow: 0 0 5px 1px var(--primary-400);
  filter: drop-shadow(0 0 9px var(--primary-400));
}

#SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-copybutton:hover #SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-output-wrapper {
  background: var(--input-background-fill);
}

#SDHub-Gallery-Imageinfo-Seed-Button {
  color: var(--primary-400);
  cursor: pointer;
  transition: color .3s ease;
}

#SDHub-Gallery-Imageinfo-Seed-Button:hover {
  color: var(--primary-600) !important;
}

#SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-output-wrapper {
  position: relative;
  z-index: 1;
  border: 0;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  background: var(--sdhub-gallery-output-background);
  filter: drop-shadow(0 0 5px var(--sdhub-gallery-output-background));
  pointer-events: auto;
  transition: .4s ease;
}

#SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-output-content {
  line-height: 1.7;
  margin: 0;
  padding: 5px 8px;
  border: 1px solid transparent;
  cursor: default;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  transition: .3s ease;
}

#SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-display-model-output {
  animation: undressBox 1s forwards ease-out;
}

.sdhub-gallery-imageinfo-borderpulse {
  animation: pulseBorder2 2s infinite alternate forwards;
}

@keyframes pulseBorder2 {
  0% {
    border-color: transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }
  25% {
    border-color: var(--primary-400);
    box-shadow: inset 0 0 15px 2px var(--primary-400)
  }
  50% {
    border-color: var(--primary-400);
    box-shadow: inset 0 0 3px 1px var(--primary-400)
  }
  75% {
    border-color: var(--primary-400);
    box-shadow: inset 0 0 15px 2px var(--primary-400)
  }
  100% {
    border-color: transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }
}

#SDHub-Gallery-Imageinfo-Output-Panel .sdhub-gallery-imageinfo-output-failed {
  display: flex;
  width: 100%;
  pointer-events: auto;
  padding: 5px 10px;
  color: var(--output-text-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1), 0 0 5px 0 rgba(255, 255, 255, 0.2), inset 0 0 5px 0 rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
  background: rgba(0, 0, 0, 0.3);
}

#SDHub-Gallery-Imageinfo-Spinner {
  margin: 0 auto;
  animation: spinner 1.5s linear infinite;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.7));
}

#SDHub-Gallery-Imageinfo-Spinner path,
#SDHub-Gallery-Imageinfo-Spinner polygon {
  fill: var(--primary-400);
}

.sdhub-gallery-spinner-rotation {
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes undressBox {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

#SDHub-Gallery-Imageinfo-Arrow-Button {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  min-width: 0;
  right: 23px;
  bottom: 23px;
  height: 45px;
  width: 45px;
  padding: 0;
  margin: 0;
  border: 2px solid var(--primary-400);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  box-shadow: var(--sdhub-box-shadow-primary);
  color: var(--primary-400);
  background: var(--sdhub-gallery-background-secondary);
  transform: scale(0);
  transition: .3s ease;
}

#SDHub-Gallery-Imageinfo-Arrow-Button > svg {
  transition: .3s ease;
}

#SDHub-Gallery-Imageinfo-Arrow-Button:hover,
#SDHub-Gallery-Imageinfo-Arrow-Button:hover > svg {
  filter: drop-shadow(0 0 2px var(--primary-400));
}

#SDHub-Gallery-Imageinfo-Arrow-Button polygon {
  transform: scale(90%);
  transform-origin: center;
}

/* ############################################################################################################ */

#SDHub-Gallery-Info-Container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s ease;
}

#SDHub-Gallery-Info-Spinner {
  position: fixed;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  color: var(--primary-400);
  pointer-events: none;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6)) drop-shadow(0 0 1px var(--primary-400)) drop-shadow(0 0 6px black);
  transition: opacity .3s ease;
}

#SDHub-Gallery-Info-Spinner svg {
  filter: drop-shadow(0 0 5px #000);
}

#SDHub-Gallery-Info-Spinner.sdhub-gallery-spinner {
  visibility: visible;
  opacity: 1;
}

#SDHub-Gallery-Info-Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  word-break: break-word;
  text-align: center;
  position: fixed;
  min-width: 300px;
  max-width: 100%;
  padding: 0;
  opacity: 0;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0 30px 5px #000;
  transform: scale(0.5);
  transition: transform .3s ease, opacity .3s ease;
}

#SDHub-Gallery-Info-Inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
  width: 100%;
  padding: 20px 30px;
  border: 1px solid var(--primary-400);
  border-radius: 1rem;
  box-shadow: var(--sdhub-box-shadow-primary);
  background: var(--input-background-fill);
}

#SDHub-Gallery-Info-Text {
  font-size: 16px;
  color: var(--body-text-color);
  pointer-events: none;
}

#SDHub-Gallery-Info-Text .sdhub-gallery-info-bracket {
  color: var(--primary-500);
  font-weight: bold;
}

#SDHub-Gallery-Info-Text .sdhub-gallery-info-number {
  color: #ff3a3a;
  font-weight: bold;
}

#SDHub-Gallery-Info-Checkbox-Wrapper {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#SDHub-Tab #SDHub-Gallery-Tab .sdhub-gallery-info-checkbox {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: max-content;
  padding: 7px;
  margin-left: 0;
  cursor: pointer;
}

#SDHub-Tab #SDHub-Gallery-Tab .sdhub-gallery-info-checkbox-input {
  height: 20px;
  width: 20px;
  pointer-events: none;
}

#SDHub-Tab #SDHub-Gallery-Tab .sdhub-gallery-info-checkbox:hover .sdhub-gallery-info-checkbox-input:not(:checked) {
  box-shadow: inset 0 0 3px 0px var(--primary-400), 0 0 1px 1px var(--primary-400);
}

#SDHub-Tab #SDHub-Gallery-Tab .sdhub-gallery-info-checkbox-text {
  color: var(--body-text-color);
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

#SDHub-Gallery-Info-Batch {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 25px;
}

#SDHub-Gallery-Info-Batch-Title {
  display: block;
  color: var(--body-text-color);
  font-size: 18px;
  font-weight: bold;
}

#SDHub-Gallery-Info-Batch-Text {
  display: flex;
  align-items: center;
  color: var(--body-text-color);
  font-size: 15px;
  pointer-events: none;
}

#SDHub-Gallery-Info-Batch-Input {
  display: flex;
  outline: none;
  text-align: center;
  font-size: 18px;
  width: 350px;
  padding: .5rem .75rem;
  border: 2px solid var(--primary-400);
  border-radius: 100px;
  box-shadow: inset 0 0 18px 3px var(--primary-400), 0 0 5px 1px var(--primary-400);
  color: var(--body-text-color);
  background: var(--input-background-fill-hover);
  transition: .4s ease;
}

#SDHub-Gallery-Info-Batch-Input:hover,
#SDHub-Gallery-Info-Batch-Input:focus {
  box-shadow: inset 0 0 5px 1px var(--primary-400), 0 0 5px 1px var(--primary-400);
}

#SDHub-Gallery-Info-Batch-Input::placeholder {
  color: var(--body-text-color);
  opacity: .2;
  font-size: 16px;
  padding: 10px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

#SDHub-Gallery-Info-Button-Row {
  display: flex;
  position: relative;
  justify-content: space-around;
  gap: 30%;
  min-width: 300px;
  width: 100%;
}

.sdhub-gallery-info-button {
  display: flex;
  cursor: pointer;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  white-space: nowrap;
  min-width: 100px;
  max-width: max-content;
  height: 100%;
  padding: 2px 10px;
  border: 1px solid var(--body-text-color);
  border-radius: 8px;
  box-shadow: 0 0 10px 2px #000;
  color: var(--background-fill-secondary);
  background: var(--body-text-color);
  transition: .4s ease;
  user-select: none;
  -webkit-user-select: none;
}

.sdhub-gallery-info-button:hover {
  color: var(--body-text-color);
}

#SDHub-Gallery-Info-Yes-Button:hover {
  box-shadow: 0 0 10px 1px #ff0000;
  background: #ff0000;
}

#SDHub-Gallery-Info-Yes-Button.sdhub-gallery-batch-download:hover {
  box-shadow: 0 0 10px 1px var(--primary-500);
  background: var(--primary-500);
}

#SDHub-Gallery-Info-No-Button:hover {
  box-shadow: 0 0 10px 1px var(--primary-500);
  background: var(--primary-500);
}

#SDHub-Gallery-Info-No-Button.sdhub-gallery-batch-download:hover {
  box-shadow: 0 0 10px 1px #ff0000;
  background: #ff0000;
}

/* ############################################################################################################ */

#SDHub-Gallery-ImgChest-Button {
  left: 5px;
}

#SDHub-Gallery-ImgChest-Button svg {
  transform: scale(0.9);
  transform-origin: center;
}

#SDHub-Gallery-ImgChest-Button path {
  transition: .4s ease;
}

#SDHub-Gallery-ImgChest-Column {
  transform-origin: top left;
  display: none;
  position: absolute;
  width: max-content;
  padding: 10px;
  border-radius: 1rem;
  z-index: 50;
  max-width: 500px;
  flex-grow: 1;
  min-width: min(320px, 100%);
  border: 1px solid var(--primary-400);
  box-shadow: var(--sdhub-box-shadow-primary);
  background: var(--background-fill-primary);
  opacity: 0;
  transform: scale(0.5);
  transition: transform .4s ease, opacity .4s ease;
  gap: 5px;
  overflow: hidden;
}

#SDHub-Gallery-ImgChest-Column > .form {
  gap: 10px;
}

#SDHub-Gallery-ImgChest-Info {
  cursor: default;
  text-align: center;
  color: var(--body-text-color);
}

#SDHub-Gallery-ImgChest-Info > .sdhub-gallery-imgchest-info:hover {
  color: var(--primary-400) !important;
}

#SDHub-Gallery-ImgChest-Checkbox {
  margin: 0;
}

#SDHub-Gallery-ImgChest-Checkbox input {
  cursor: pointer;
  height: 30px;
  padding: 5px;
  border: 0;
  width: 100%;
  background-image: none;
  border-radius: var(--button-large-radius);
  box-shadow: var(--sdhub-box-shadow);
}

#SDHub-Gallery-ImgChest-Checkbox input:not(:checked):hover {
  box-shadow: var(--sdhub-box-shadow), inset 0 0 10px 3px var(--primary-400);
}

#SDHub-Gallery-ImgChest-Checkbox input:checked {
  box-shadow: var(--sdhub-box-shadow);
  background: var(--button-primary-background-fill);
}

#SDHub-Gallery-ImgChest-Checkbox input:checked:hover {
  filter: drop-shadow(0 0 5px var(--primary-500));
  box-shadow: var(--sdhub-box-shadow), 0 0 10px 1px var(--primary-500);
  color: var(--body-text-color);
  background: var(--button-primary-background-fill-hover);
}

#SDHub-Gallery-ImgChest-Checkbox input:checked:hover ~ span {
  color: var(--body-text-color) !important;
}

#SDHub-Gallery-ImgChest-Checkbox span {
  pointer-events: none;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  position: absolute;
  font-weight: bold;
}

#SDHub-Gallery-ImgChest-Privacy, 
#SDHub-Gallery-ImgChest-NSFW {
  cursor: auto;
}

#SDHub-Gallery-ImgChest-Checkbox input,
#SDHub-Gallery-ImgChest-Checkbox span,
#SDHub-Gallery-ImgChest-Privacy label,
#SDHub-Gallery-ImgChest-Privacy input,
#SDHub-Gallery-ImgChest-NSFW label,
#SDHub-Gallery-ImgChest-NSFW input,
#SDHub-Gallery-ImgChest-API input,
#SDHub-Gallery-ImgChest-Info > .sdhub-gallery-imgchest-info {
  transition: .4s ease;
}

#SDHub-Gallery-ImgChest-Privacy input, 
#SDHub-Gallery-ImgChest-NSFW input {
  cursor: pointer;
}

#SDHub-Gallery-ImgChest-Privacy > span, 
#SDHub-Gallery-ImgChest-NSFW > span {
  cursor: default;
  margin: 0;
}

#SDHub-Gallery-ImgChest-API input {
  text-align: center;
  width: 52ch;
}

#SDHub-Gallery-ImgChest-API input:focus {
  filter: drop-shadow(0 0 1px var(--primary-400));
  box-shadow: 0 0 10px 1px var(--primary-400);
}

#SDHub-Gallery-ImgChest-Save-Button,
#SDHub-Gallery-ImgChest-Load-Button {
  min-width: 185px;
  padding: 4px 0;
  font-size: 18px;
  transition: .4s ease;
}

#SDHub-Gallery-ImgChest-Save-Button:hover,
#SDHub-Gallery-ImgChest-Load-Button:hover {
  filter: drop-shadow(0 0 5px var(--primary-500));
  box-shadow: 0 0 10px 1px var(--primary-500);
  color: var(--body-text-color);
  background: var(--button-primary-background-fill-hover);
}

@media (max-width: 600px) {
  #SDHub-Gallery-ImgChest-Save-Button,
  #SDHub-Gallery-ImgChest-Load-Button {
    min-width: 100px;
  }
}

/* ############################################################################################################ */

#SDHub-Gallery-Setting-Button {
  right: 5px;
}

#SDHub-Gallery-Setting-Button:hover {
  transform: rotate(-360deg);
}

#SDHub-Gallery-Setting-Button svg {
  transform: scale(0.9);
  transform-origin: center;
  filter: drop-shadow(0 0 2px #000);
}

#SDHub-Gallery-Setting-Button path {
  fill: var(--primary-400);
}

#SDHub-Gallery-Setting {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  inset: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  z-index: 999;
  background: rgb(0 0 0 / 70%);
  transition: opacity .2s ease-out;
  outline: none;
}

#SDHub-Gallery-Setting-Box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border: 0;
  border-radius: 1rem;
  opacity: 0;
  padding: 0;
  background: var(--sdhub-gallery-tab-background);
  transform: scale(1.5);
  transition: transform .3s ease-out, opacity .3s ease-out, box-shadow .6s ease;
  overflow: visible;
}

#SDHub-Gallery-Setting-Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20%;
  position: absolute;
  width: 130%;
  height: auto;
  pointer-events: none;
}

#SDHub-Gallery-Setting-Nav .sdhub-gallery-setting-nav-button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  color: var(--primary-400);
  border: 2px solid var(--primary-400);
  border-radius: 50%;
  box-shadow: var(--sdhub-box-shadow-primary);
  background: var(--sdhub-gallery-background-secondary);
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transform: scale(0);
  transition: .3s ease;
}

#SDHub-Gallery-Setting-Nav .sdhub-gallery-setting-nav-button > svg {
  height: 45px;
  width: 45px;
  transition: .3s ease;
}

#SDHub-Gallery-Setting-Nav-Left-Button > svg {
  transform: rotate(90deg);
  transform-origin: center;
}

#SDHub-Gallery-Setting-Nav-Right-Button > svg {
  transform: rotate(-90deg);
  transform-origin: center;
}

#SDHub-Gallery-Setting-Nav .sdhub-gallery-setting-nav-button.sdhub-gallery-setting-nav-on {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
  pointer-events: auto;
}

#SDHub-Gallery-Setting-Nav .sdhub-gallery-setting-nav-button.sdhub-gallery-setting-nav-on:hover,
#SDHub-Gallery-Setting-Nav .sdhub-gallery-setting-nav-button.sdhub-gallery-setting-nav-on:hover > svg {
  filter: drop-shadow(0 0 2px var(--primary-400));
}

#SDHub-Gallery-Setting-Frame {
  display: flex;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border: 2px solid var(--primary-400);
  border-radius: 1rem;
  z-index: 4;
  pointer-events: none;
  box-shadow: var(--sdhub-box-shadow-primary);
  transition: box-shadow .6s ease;
  overflow: hidden;
}

#SDHub-Gallery-Setting-Frame.sdhub-gallery-setting-applied {
  box-shadow: inset 0 0 25px 10px var(--primary-400), 0 0 10px 3px var(--primary-400);
}

#SDHub-Gallery-Setting-Exit-Button {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 45px;
  width: 45px;
  margin: 0;
  gap: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 13px;
  box-sizing: border-box;
  pointer-events: auto;
  color: var(--primary-500) !important;
  background: var(--input-background-fill);
  box-shadow: 0 0 7px 2px #000;
  filter: none;
  cursor: pointer;
  transition: .2s ease;
}

#SDHub-Gallery-Setting-Exit-Button svg {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 60%))
          drop-shadow(0 0 1px rgb(0 0 0 / 60%))
          drop-shadow(0 0 1px rgb(0 0 0 / 90%));
  transition: .2s ease;
}

#SDHub-Gallery-Setting-Exit-Button:hover {
  background: red !important;
  filter: drop-shadow(0 0 3px red);
}

#SDHub-Gallery-Setting-Exit-Button:hover svg {
  color: #fff;
}

#SDHub-Gallery-Setting-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  height: max-content;
  width: 600px;
  max-height: 97vh;
  gap: 7px;
  overflow: hidden;
}

#SDHub-Gallery-Setting-Title {
  display: flex;
  position: relative;
  inset: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
  padding: 0;
  font-family: 'Times New Roman', serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: transparent;
  background: linear-gradient(to right, var(--body-text-color), var(--primary-500), var(--body-text-color));
  background-size: 800% 500%;
  background-clip: text;
  -webkit-background-clip: text;
  user-select: none;
  -webkit-user-select: none;
  transition: .5s;
}

#SDHub-Gallery-Setting-Title:hover {
  filter: drop-shadow(0 0 7px var(--primary-400));
  animation: slideBG 10s linear infinite;
}

@keyframes slideBG {
  0% { background-position: 0% 800%; }
  100% { background-position: -800% 0%; }
}

#SDHub-Gallery-Setting-Page-Wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  transition: transform .8s ease;
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-page {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 5px;
  min-height: max-content;
  width: 100%;
  gap: 10px;
  transition: transform .6s ease;
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-input-number {
  display: inline-flex;
  outline: none;
  line-height: 1.5;
  font-size: 16px;
  align-items: center;
  text-align: center;
  min-height: 26px;
  height: auto;
  width: 10ch;
  padding: 0 10px;
  border: 1px solid var(--primary-500);
  border-radius: 100px;
  box-shadow: inset 0 0 10px 2px var(--primary-500), 0 0 1px 1px var(--primary-500);
  color: var(--body-text-color);
  background: var(--input-background-fill);
  appearance: textfield;
  transition: .3s ease;
}

#SDHub-Gallery-Setting-Thumbnail-Size-Wrapper input {
  width: 8ch !important;
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-input-number:hover {
  box-shadow: inset 0 0 2px 0 var(--primary-500),
              0 0 1px 1px var(--primary-500);
  background: var(--input-background-fill-hover);
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-input-number:focus {
  box-shadow: inset 0 0 2px 0 var(--primary-400),
              0 0 7px 2px var(--primary-500);
  background: var(--input-background-fill-hover);
}

.sdhub-gallery-setting-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  color: var(--body-text-color);
  width: 100%;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 1.1rem;
  gap: 10px;
  box-shadow: inset 0 0 0 0 #000, 0 0 3px 1px #000;
  box-sizing: border-box;
  background: var(--panel-background-fill);
  transition: opacity .4s ease;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.sdhub-gallery-setting-box:hover {
  border-color: var(--primary-400);
  box-shadow: var(--sdhub-box-shadow-primary);
}

.sdhub-gallery-setting-box.sdhub-gallery-setting-disable {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.sdhub-gallery-setting-box.sdhub-gallery-setting-disable > .sdhub-gallery-setting-label,
.sdhub-gallery-setting-box.sdhub-gallery-setting-disable > .sdhub-gallery-setting-wrapper {
  filter: brightness(0.3);
  opacity: .5;
}

.sdhub-gallery-setting-input {
  display: none;
}

.sdhub-gallery-setting-label {
  display: flex;
  position: relative;
  justify-content: flex-start;
  left: 0;
  width: 50%;
  padding-left: 5px;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: anywhere;
  pointer-events: none;
  transition: opacity .4s ease, filter .4s ease;
}

.sdhub-gallery-setting-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;
  width: 50%;
  transition: opacity .4s ease, filter .4s ease;
}

.sdhub-gallery-setting-wrapper-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: max-content;
  width: max-content;
  max-width: 100%;
  border-radius: 1.1rem;
  gap: 0;
  padding: 0;
  border: 0;
  box-shadow: 0 0 5px 1px #000;
}

.sdhub-gallery-setting-wrapper-selection > :nth-child(1):not(input) {
  border-top-left-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
}

.sdhub-gallery-setting-wrapper-selection > :nth-child(2):not(input) {
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
}

.sdhub-gallery-setting-selection {
  display: inline-flex;
  z-index: 1;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  font-size: 14px;
  min-height: 26px;
  width: max-content;
  margin: 0;
  padding: 0 10px;
  border: 1px solid transparent;
  background: var(--input-background-fill);
  cursor: pointer;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: anywhere;
  transition: .2s ease;
  user-select: none;
  -webkit-user-select: none;
}

.sdhub-gallery-setting-selection.sdhub-gallery-setting-selected {
  color: var(--background-fill-primary);
  background: var(--primary-500);
  box-shadow: 0 0 5px 1px var(--primary-500);
  text-shadow: 0 1px 0 rgb(0 0 0 / 50%);
  z-index: 2;
}

.sdhub-gallery-setting-wrapper-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: max-content;
  width: max-content;
  max-width: 100%;
  border-radius: 100px;
  gap: 0;
  padding: 0;
  border: 0;
  color: transparent;
  box-shadow: 0 0 5px 1px #000;
}

.sdhub-gallery-setting-switch {
  display: inline-flex;
  z-index: 1;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  font-size: 14px;
  min-height: 30px;
  width: max-content;
  margin: 0;
  padding: 0 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: .2s ease;
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-wrapper-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 26px;
  width: max-content;
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-checkbox-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 55px;
  margin: 0;
  border-radius: 25px;
  border: 0;
  box-shadow: inset 0 1px 4px hsl(0deg 0% 0% / 84%),
              inset 0 0 10px hsl(0deg 0% 35.82% / 46%),
              0 0 0 1px hsla(0, 0%, 0%, .1),
              0 0 5px 1px #000;
  cursor: pointer;
  appearance: none;
  background-image: linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)),
                    linear-gradient(to right, #00ff13 50%, #ff0000 50%);
  background-size: 100% 100%, 200% 100%;
  background-position: 0% 0, right center;
  transition: .25s ease;
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-checkbox-input:after {
  content: '';
  display: flex;
  align-items: center;
  height: 28px;
  width: 28px;
  position: absolute;
  z-index: 1;
  left: 0;
  border-radius: 100%;
  box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
              inset 0 -1px 1px 1px hsla(0, 0%, 0%, .25),
              0 1px 3px 1px hsla(0, 0%, 0%, .5),
              0 0 2px hsl(0deg 0% 0% / 39%);
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 0%, 0.1));
  transition: .25s ease;
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-checkbox-input:checked {
  background-position: 0% 0, left center;
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-checkbox-input:checked::after {
  left: 27px;
}

#SDHub-Gallery-Setting .sdhub-gallery-setting-checkbox-input {
  pointer-events: none;
}

#SDHub-Gallery-Setting-Apply-Button {
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  height: 50px;
  width: 100px;
  padding: 4px 8px;
  margin: 10px 0;
  border: 2px solid var(--primary-500);
  border-radius: 1rem;
  box-shadow: inset 0 0 15px 3px var(--primary-500), 0 0 7px 1px #000;
  color: var(--body-text-color);
  background: transparent;
  transition: .3s ease;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

#SDHub-Gallery-Setting-Apply-Button:hover {
  color: var(--background-fill-primary);
  text-shadow: 0 1px 0 rgb(0 0 0 / 50%);
  box-shadow: inset 0 0 0 1px var(--primary-500), 0 0 7px 1px var(--primary-500), 0 0 7px 1px #000;
  background: var(--primary-500);
}

#SDHub-Gallery-Setting-Apply-Button.sdhub-gallery-setting-applied {
  color: var(--body-text-color);
  box-shadow: 0 0 3px 1px #000;
  background: transparent;
  cursor: default;
  pointer-events: none;
}

#SDHub-Gallery-Setting-Wrapper > a {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 14px;
  color: var(--body-text-color);
  background: transparent;
  filter: drop-shadow(0 0 5px var(--primary-400));
  transition: .3s ease;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: auto;
}

#SDHub-Gallery-Setting-Wrapper > a:hover {
  color: var(--primary-500);
  filter: drop-shadow(0 0 5px var(--primary-400));
}

@media (max-width: 600px) {
  #SDHub-Gallery-Setting-Nav {
    width: 100vw;
  }

  #SDHub-Gallery-Setting-Nav-Left-Button {
    left: 20px;
  }

  #SDHub-Gallery-Setting-Nav-Right-Button {
    right: 20px;
  }

  #SDHub-Gallery-Setting-Wrapper {
    width: max-content;
    min-width: max-content;
  }

  #SDHub-Gallery-Setting-Page-Wrapper {
    width: 400px;
  }

  .sdhub-gallery-setting-box {
    max-width: 400px;
  }

  .sdhub-gallery-setting-label, 
  .sdhub-gallery-setting-wrapper {
    max-width: 200px;
  }
}