#tab_sdhub .tabs > .tab-nav > button.selected {
  color: var(--primary-500);
}

.hide-this {
  visibility: hidden !important;
}

#sdhub-downloader .dl-btn {
  width: 100px !important;}
#sdhub-downloader .dl-input {
  margin-top: 0px !important;}
#sdhub-downloader .dl-row {
  margin-top: -7px !important;}

#sdhub-uploader .up-btn {
  width: 100px !important;}
#sdhub-uploader .up-input {
  margin-top: -15px !important;}
#sdhub-uploader .up-row {
  margin-top: -14px !important;}

#sdhub-archiver .arc-btn {
  width: 100px !important;}
#sdhub-archiver .arc-input {
  margin-top: -15px !important;}
#sdhub-archiver .arc-row {
  margin-top: -9px !important;}
#sdhub-archiver .cb {
  margin-left: 60px !important;}

.gradio-container-4-40-0 #sdhub-downloader-button-row,
.gradio-container-4-40-0 #sdhub-uploder-button-row,
.gradio-container-4-40-0 #sdhub-uploder-inputs {
	margin-top: -10px;
}

#sdhub-uploder-radio .svelte-1kzox3m {
  margin-top: -3px;
}

#sdhub-repo {
  margin-top: 10px;
	text-align: center;
	font-size: 13px;
	transition: 0.4s ease;
  font-weight: normal;
}

#sdhub-repo:hover {
	color: var(--primary-500);
}

#sdhub-tab-title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
}

#sdhub-tab-info {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.8;
}

#sdhub-tab-info .sdhub-link,
#sdhub-tab-info .sdhub-nonlink {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--primary-500);
  transition: 0.4s ease;
}

#sdhub-tab-info .sdhub-link:hover {
  var(--link-text-color-hover);
  border: 1px solid orange;
}

#sdhub-tab-info .sdhub-nonlink {
  pointer-events: none;
}

#sdhub-tab-info .sdhub-nonlink:hover {
  color: unset;
}
