#sdhub-tab > .tab-nav {
  border: 0;
  margin: 5px 0 5px 0;
  gap: 15px;
}

#sdhub-tab > .tab-nav > button {
  border-radius: 100px;
}

#sdhub-tab > .tab-nav > button.selected {
  cursor: default;
  font-weight: bold;
  color: var(--background-fill-primary);
  filter: drop-shadow(0 0 10px var(--primary-400));
  box-shadow: 0 0 10px 1px var(--primary-400);
  background: var(--button-primary-background-fill);
  border-color: var(--primary-500);
}

#sdhub-tab > .tab-nav > button:not(.selected) {
  transition: 0.3s ease;
}

#sdhub-tab > .tab-nav > button:not(.selected):hover {
  color: var(--primary-400);
  filter: drop-shadow(0 0 10px var(--body-text-color-subdued));
  box-shadow: 0 0 10px 1px var(--primary-400);
}

#sdhub-downloader-tab,
#sdhub-uploader-tab,
#sdhub-archiver-tab,
#sdhub-texteditor-tab,
#sdhub-shell-tab,
#sdhub-gallery-tab {
  border: 0;
  margin: 0;
}

#sdhub-downloader-tab,
#sdhub-uploader-tab,
#sdhub-archiver-tab,
#sdhub-shell-tab {
  padding: 10px 0px;
}

#sdhub-texteditor-tab,
#sdhub-gallery-tab {
  padding: 10px 0px 0px;
}

.hide-this {
  visibility: hidden !important;
}

#sdhub-downloader-tab .dl-btn {
  width: 100px !important;
}

#sdhub-downloader-tab .dl-row {
  margin-top: -7px !important;
}

#sdhub-uploader-tab .up-btn {
  width: 100px !important;
}
#sdhub-uploader-tab .up-input {
  margin-top: -15px !important;
}
#sdhub-uploader-tab .up-row {
  margin-top: -14px !important;
}

#sdhub-archiver-tab .arc-btn {
  width: 100px !important;
}
#sdhub-archiver-tab .arc-input {
  margin-top: -15px !important;
}
#sdhub-archiver-tab .arc-row {
  margin-top: -9px !important;
}
#sdhub-archiver-tab .cb {
  margin-left: 60px !important;
}

#sdhub-downloader-inputs {
  margin-top: 10px;
}

#sdhub-downloader-scrape-button {
  font-size: 100%;
  transition: 0.4s ease;
  border-top-left-radius: var(--button-large-radius);
  border-bottom-left-radius: var(--button-large-radius);
}

#sdhub-downloader-txt-button {
  font-size: 100%;
  transition: 0.4s ease;
  border-top-right-radius: var(--button-large-radius);
  border-bottom-right-radius: var(--button-large-radius);
}

#sdhub-downloader-scrape-button:hover,
#sdhub-downloader-txt-button:hover {
  box-shadow: 0 0 0 1.5px var(--primary-400);
}

#sdhub-downloader-save-button:hover,
#sdhub-downloader-load-button:hover,
#sdhub-downloader-download-button:hover,
#sdhub-uploader-save-button:hover,
#sdhub-uploader-load-button:hover,
#sdhub-uploader-upload-button:hover,
#sdhub-archiver-arc-button:hover,
#sdhub-archiver-extr-button:hover,
#sdhub-archiver-zipoutputs-button:hover,
#sdhub-texteditor-load-button:hover,
#sdhub-texteditor-save-button:hover,
#sdhub-shell-button:hover {
  filter: drop-shadow(0 0 5px var(--primary-500));
  box-shadow: 0 0 10px 1px var(--primary-500);
  color: var(--body-text-color-subdued);
  background: var(--button-primary-background-fill-hover);
}

#sdhub-downloader-inputs textarea,
#sdhub-downloader-token1 input,
#sdhub-downloader-token2 input,
#sdhub-uploader-token input,
#sdhub-uploader-inputs textarea,
#sdhub-uploader-username-box input,
#sdhub-uploader-repo-box input,
#sdhub-uploader-branch-box input,
#sdhub-uploader-radio-box label,
#sdhub-uploader-radio-box input,
#sdhub-archiver-radio-format label,
#sdhub-archiver-radio-format input,
#sdhub-archiver-radio-split label,
#sdhub-archiver-radio-split input,
#sdhub-archiver-arc-inputname input,
#sdhub-archiver-arc-inputpath input,
#sdhub-archiver-arc-outputpath input,
#sdhub-archiver-extr-inputpath input,
#sdhub-archiver-extr-outputpath input,
#sdhub-archiver-zipoutputs-inputname input,
#sdhub-archiver-zipoutputs-outputpath input,
#sdhub-texteditor-inputs input,
#sdhub-shell-inputs textarea,
#sdhub-downloader-save-button,
#sdhub-downloader-load-button,
#sdhub-downloader-download-button,
#sdhub-uploader-save-button,
#sdhub-uploader-load-button,
#sdhub-uploader-upload-button,
#sdhub-archiver-arc-button,
#sdhub-archiver-extr-button,
#sdhub-archiver-zipoutputs-button,
#sdhub-texteditor-load-button,
#sdhub-texteditor-save-button,
#sdhub-shell-button,
#sdhub-dataframe-accordion {
  transition: 0.4s ease;
}

#sdhub-downloader-inputs textarea:focus,
#sdhub-downloader-token1 input:focus,
#sdhub-downloader-token2 input:focus,
#sdhub-uploader-inputs textarea:focus,
#sdhub-uploader-username-box input:focus,
#sdhub-uploader-repo-box input:focus,
#sdhub-uploader-branch-box input:focus,
#sdhub-uploader-token input:focus,
#sdhub-archiver-arc-inputname input:focus,
#sdhub-archiver-arc-inputpath input:focus,
#sdhub-archiver-arc-outputpath input:focus,
#sdhub-archiver-extr-inputpath input:focus,
#sdhub-archiver-extr-outputpath input:focus,
#sdhub-archiver-zipoutputs-inputname input:focus,
#sdhub-archiver-zipoutputs-outputpath input:focus,
#sdhub-texteditor-inputs input:focus,
#sdhub-shell-inputs textarea:focus {
  filter: drop-shadow(0 0 1px var(--primary-400));
  box-shadow: 0 0 10px 1px var(--primary-400);
}

#sdhub-uploader-radio-box input:checked,
#sdhub-uploader-radio-box input:checked:focus,
#sdhub-archiver-radio-format input:checked,
#sdhub-archiver-radio-format input:checked:focus,
#sdhub-archiver-radio-split input:checked,
#sdhub-archiver-radio-split input:checked:focus,
#SDHub-Gallery-imgchest-NSFW input:checked,
#SDHub-Gallery-imgchest-NSFW input:checked:focus,
#SDHub-Gallery-imgchest-Privacy input:checked,
#SDHub-Gallery-imgchest-Privacy input:checked:focus {
  border-color: var(--primary-500);
  background-color: var(--primary-500);
}

#sdhub-uploader-radio-box label:hover, 
#sdhub-archiver-radio-format label:hover,
#sdhub-archiver-radio-split label:hover, 
#SDHub-Gallery-imgchest-Privacy label:hover, 
#SDHub-Gallery-imgchest-NSFW label:hover {
  box-shadow:
    inset 0 0 5px 1px var(--primary-400),
    inset 0 0 5px 1px var(--primary-400),
    inset 0 0 5px 1px var(--primary-400);
}

.gradio-container-4-40-0 #sdhub-downloader-button-row,
.gradio-container-4-40-0 #sdhub-uploader-button-row,
.gradio-container-4-40-0 #sdhub-uploader-inputs {
  margin-top: -10px;
}

.gradio-container-4-40-0 #sdhub-tag-dataframe table.table {
  overflow: hidden;
}

.gradio-container-4-40-0 #sdhub-uploader-radio-box .svelte-1kzox3m {
  margin-top: -4px;
}

#sdhub-repo {
  margin-bottom: -2px;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
}

#sdhub-repo > a {
  transition: 0.4s ease;
}

#sdhub-repo > a:hover {
  color: var(--primary-400);
}

#sdhub-tab-title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
}

#sdhub-tab-info {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.8;
}

#sdhub-tab-info .sdhub-link,
#sdhub-tab-info .sdhub-nonlink {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--color-accent);
  transition: 0.4s ease;
}

#sdhub-tab-info .sdhub-link:hover {
  color: var(--color-accent);
  border: 1px solid orange;
}

#sdhub-tab-info .sdhub-nonlink {
  pointer-events: none;
}

:not(.gradio-container-4-40-0) #sdhub-tag-dataframe,
:not(.gradio-container-4-40-0) #sdhub-tag-dataframe > div > div,
:not(.gradio-container-4-40-0) #sdhub-tag-dataframe table {
  overflow: visible !important;
}

#sdhub-dataframe-accordion:hover:not(:has(> .open)) {
  border: 1px solid var(--primary-500) !important;
  box-shadow: 0 0 10px 1px var(--primary-400);
}

#sdhub-tag-dataframe td {
  border: 0;
}

#sdhub-tag-dataframe td:hover {
  filter: drop-shadow(0 0 5px var(--primary-400));
  box-shadow: 0 0 10px 1px var(--primary-400);
  color: var(--background-fill-primary);
  background: var(--button-primary-background-fill);
}

#sdhub-tag-dataframe table {
  border-collapse: separate;
  cursor: auto;
}

#sdhub-tag-dataframe thead {
  pointer-events: none;
}

#sdhub-tag-dataframe thead > tr {
  text-align: center;
}

#sdhub-tag-dataframe thead svg,
#sdhub-tag-dataframe td {
  pointer-events: auto;
}

#sdhub-tag-dataframe td.pulse-td {
  animation: pulse-td-box 2s alternate forwards;
  animation-timing-function: ease;
}

@keyframes pulse-td-box {
  0% {
    filter: drop-shadow(0 0 5px var(--primary-400));
    box-shadow: 0 0 10px 1px var(--primary-400);
    color: var(--background-fill-primary);
    background: var(--button-primary-background-fill);
  }
  25% {
    filter: drop-shadow(0 0 5px var(--primary-400));
    box-shadow: 0 0 3px 1px var(--primary-400);
    color: var(--body-text-color);
    background: transparent;
  }
  50% {
    filter: drop-shadow(0 0 5px var(--primary-400));
    box-shadow: 0 0 10px 1px var(--primary-400);
    color: var(--background-fill-primary);
    background: var(--button-primary-background-fill);
  }
  75% {
    filter: drop-shadow(0 0 5px var(--primary-400));
    box-shadow: 0 0 3px 1px var(--primary-400);
    color: var(--body-text-color);
    background: transparent;
  }
  100% {
    filter: drop-shadow(0 0 5px var(--primary-400));
    box-shadow: 0 0 10px 1px var(--primary-400);
    color: var(--background-fill-primary);
    background: var(--button-primary-background-fill);
  }
}

#sdhub-texteditor-row {
  gap: inherit;
}

#sdhub-texteditor-inputs input {
  text-align: center;
}

#sdhub-texteditor-info {
  padding-right: 2rem !important;
  z-index: 9999;
  top: 3.2rem;
  right: 0;
  position: absolute;
}

#sdhub-texteditor-info > .wrap {
  display: none;
}

#sdhub-texteditor-info input {
  text-align: right;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: transparent;
}

#sdhub-texteditor-editor {
  background: #1f1f1f;
  font-family: Consolas, 'Courier New', monospace;
  max-height: 1000px;
  overflow: auto !important;
}

#sdhub-texteditor-editor > div[data-testid="block-label"] {
  border: 1px solid #3a3a3a;
}

#sdhub-texteditor-editor .cm-content, #sdhub-texteditor-editor .cm-gutters {
  line-height: 1.4;
  font-size: 13px;
  font-family: Consolas, "Courier New", monospace;
}

#sdhub-texteditor-editor .cm-gutters {
  border-right: 1px solid #3a3a3a;
}

#sdhub-texteditor-editor span.\ͼ2c {
  color: #5e8a36;
  font-style: normal;
}

#sdhub-texteditor-editor span.\ͼ1q {
  color: #e89bdf;
}

#sdhub-texteditor-editor span.\ͼ1s {
  color: #31ffd5;
}

#sdhub-texteditor-editor span.\ͼ1t {
  color: #fffca4;
}

#sdhub-texteditor-editor span.\ͼ1x {
  color: #1c8fff;
}

#sdhub-texteditor-editor span.\ͼ1z {
  color: #fff;
}

#sdhub-texteditor-editor span.\ͼ21 {
  color: #fff;
}

#sdhub-texteditor-editor span.\ͼ23 {
  color: #cf6db9;
}

#sdhub-shell-button, #sdhub-shell-ghost-button {
  border: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0;
  line-height: 0;
  flex-grow: 0.1;
  min-width: min(3rem, 100%);
  font-size: 40px;
  height: 3rem;
  border-radius: 50%;
  transition: 0.3s ease;
}
