:root {
  --sdhub-scale: 1.0001;
  --sdhub-border-color: #000;
  --sdhub-box-shadow: inset 0 0 1px 1px #000;
  --sdhub-box-shadow-focus-hover: inset 0 0 1px 1px var(--primary-500), inset 0 0 5px 0 var(--primary-500), 0 0 5px 0 var(--primary-500);
  --sdhub-box-shadow-primy: inset 0 0 1px 1px var(--primary-400), inset 0 0 7px 0 var(--primary-400), 0 0 10px 1px var(--primary-400);
  --sdhub-box-shadow-0: 0 0 0 0 #fff;
  --sdhub-box-shadow-1: inset 0 0 1px 0 var(--primary-400), 0 0 1px 1px var(--primary-400), 0 0 3px 1px var(--primary-400);
  --sdhub-box-shadow-2: 0 0 3px 0 var(--primary-400), inset 0 0 1px 1px var(--primary-400), inset 0 0 7px 0 var(--primary-400);
  --sdhub-box-shadow-radio-label: inset 0 0 5px 0 var(--sdhub-border-color);
  --sdhub-button-box-shadow: 0 0 3px 0 var(--primary-400), inset 0 0 1px 1px var(--primary-400), inset 0 0 16px 1px var(--primary-400);
  --sdhub-button-box-shadow-hover: 0 0 3px 0 var(--primary-500), inset 0 0 1px 1px var(--primary-500), inset 0 0 16px 2px var(--primary-500);
  --sdhub-secondary-button-background: var(--input-background-fill-hover);
  --sdhub-radio-border: 1px solid #000;
  --sdhub-radio-input-not-checked: drop-shadow(0 0 2px var(--sdhub-border-color));
  --sdhub-tab-button-box-shadow: inset 0 0 2px 1px var(--primary-400), 0 0 2px 1px var(--primary-400);
  --sdhub-tab-button-box-shadow-hover: inset 0 0 2px 1px var(--primary-500), 0 0 2px 1px var(--primary-500);
  --sdhub-accordion-border: inset 0 0 1px 1px #000;
  --sdhub-table-head: var(--table-odd-background-fill);
  --sdhub-table-odd: var(--table-even-background-fill);
  --sdhub-table-even: var(--table-odd-background-fill);
}

.dark {
  --sdhub-border-color: #303030;
  --sdhub-box-shadow: inset 0 0 1px 1px transparent;
  --sdhub-box-shadow-radio-label: inset 0 0 0 0 #000;
  --sdhub-secondary-button-background: var(--button-secondary-background-fill);
  --sdhub-radio-border: 1px solid var(--input-background-fill);
  --sdhub-radio-input-not-checked: drop-shadow(0 0 2px transparent);
  --sdhub-accordion-border: inset 0 0 1px 1px var(--block-border-color);
  --sdhub-table-head: var(--table-odd-background-fill);
  --sdhub-table-odd: var(--table-even-background-fill);
  --sdhub-table-even: var(--table-odd-background-fill);
}

#tab_SDHub {
  padding: 0 !important;
  border: 0 !important;
}

#SDHub-Tab > .tab-nav {
  border: 0;
  margin: 8px 0 8px 0;
  gap: 15px;
}

@media (max-width: 768px) {
  #SDHub-Tab * {
    -webkit-tap-highlight-color: transparent;
  }
}

#SDHub-Tab > .tab-nav > button {
  border: 0;
  border-radius: 1rem;
  transition: .3s ease;
}

#SDHub-Tab > .tab-nav > button.selected {
  cursor: default;
  filter: drop-shadow(0 0 0 var(--primary-400));
  border-color: var(--primary-400);
  box-shadow: var(--sdhub-box-shadow-2);
  color: var(--sdhub-gallery-items-color);
  background: transparent;
  transition: .3s ease;
}

#SDHub-Tab > .tab-nav > button:not(.selected):hover {
  color: var(--primary-500);
}

#SDHub-Tab .sdhub-hidden {
  visibility: hidden;
  pointer-events: none;
}

.gradio-container-4-40-0 #SDHub-Tab .sdhub-button-output-row {
  margin-top: -9px;
  gap: 7px;
}

#SDHub-Tab .sdhub-row {
  gap: .5em;
}

#SDHub-Tab .sdhub-button-row-1 {
  flex-grow: 1;
}

#SDHub-Tab .sdhub-button-row-2 {
  flex-grow: 2;
}

#SDHub-Tab .sdhub-buttons {
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-size: 17px;
  height: 40px;
  border: 0;
  box-shadow: var(--sdhub-button-box-shadow);
  color: var(--body-text-color);
  background: transparent;
  padding: 0;
}

#SDHub-Tab .sdhub-buttons:hover {
  box-shadow: var(--sdhub-button-box-shadow-hover);
  color: var(--primary-400);
  background: var(--input-background-fill);
}

#SDHub-Tab .sdhub-button-disabled {
  pointer-events: none;
  filter: brightness(0.6);
}

#SDHub-Downloader-Tab,
#SDHub-Uploader-Tab,
#SDHub-Archiver-Tab,
#SDHub-Shell-Tab {
  border: 0;
  margin: 0;
  padding: 10px 0px;
}

#SDHub-Texteditor-Tab {
  border: 0;
  margin: 0;
  padding: 10px 0px 0px;
}

#SDHub-Archiver-Radio-Row > .form {
  gap: 2rem;
}

#SDHub-Archiver-Radio-Format,
#SDHub-Archiver-Radio-Split {
  max-width: max-content;
}

#SDHub-Tab #SDHub-Downloader-Preview-Checkbox {
  justify-content: flex-start;
  width: max-content;
  margin: 5px 0 5px 10px;
}

#SDHub-Downloader-Scrape-Button,
#SDHub-Downloader-Txt-Button {
  display: flex;
  position: relative;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: clamp(15px, 4vw, 100%);
  transition: 0.4s ease;
  box-shadow: var(--sdhub-box-shadow);
  background: var(--sdhub-secondary-button-background);
}

#SDHub-Downloader-Scrape-Button {
  border-top-left-radius: var(--button-large-radius);
  border-bottom-left-radius: var(--button-large-radius);
}

#SDHub-Downloader-Txt-Button {
  border-top-right-radius: var(--button-large-radius);
  border-bottom-right-radius: var(--button-large-radius);
}

#SDHub-Downloader-Scrape-Button:hover,
#SDHub-Downloader-Txt-Button:hover {
  filter: drop-shadow(0 0 5px var(--primary-400));
  box-shadow: 0 0 10px 1px var(--primary-400);
  color: var(--primary-500);
}

#SDHub-Shell-Button:hover {
  filter: drop-shadow(0 0 5px var(--primary-500));
  box-shadow: 0 0 10px 1px var(--primary-500);
  color: var(--body-text-color-subdued);
  background: var(--button-primary-background-fill-hover);
}

#SDHub-Tab .sdhub-checkbox {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3rem;
}

#SDHub-Tab .sdhub-checkbox label {
  gap: 1rem !important;
}

#SDHub-Tab .sdhub-checkbox input {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 4px 1px var(--primary-400), 0 0 1px 1px var(--primary-400);
  padding: 0;
  background: var(--input-background-fill);
  transform: rotate(45deg);
  transition: .4s ease;
}

#SDHub-Tab .sdhub-checkbox input:checked {
  box-shadow: inset 0 0 1px 1px var(--primary-500), 0 0 1px 1px var(--primary-400), 0 0 17px 3px var(--primary-500);
  background-image: var(--sdhub-gallery-checkbox-img);
  background-color: var(--primary-500);
}

#SDHub-Tab .sdhub-checkbox span {
  margin: 0;
}

#SDHub-Tab .sdhub-input textarea,
#SDHub-Tab .sdhub-input input,
#SDHub-Tab .sdhub-radio input,
#SDHub-Tab .sdhub-output input,
#SDHub-Tab .sdhub-output textarea {
  box-shadow: var(--sdhub-box-shadow);
}

#SDHub-Tab .sdhub-buttons,
#SDHub-Tab .sdhub-input textarea,
#SDHub-Tab .sdhub-input input,
#SDHub-Shell-Button {
  transition:
    box-shadow .3s ease,
    filter .3s ease,
    border-color .3s ease,
    background-color .3s ease,
    color .3s ease;
}

#SDHub-Tab .sdhub-input textarea:focus,
#SDHub-Tab .sdhub-input input:focus {
  border-color: var(--primary-500);
  box-shadow: var(--sdhub-box-shadow-focus-hover);
}

#SDHub-Tab .sdhub-input input:hover {
  filter: none !important;
}

#SDHub-Tab .sdhub-radio label {
  border: 0 !important;
  box-shadow: var(--sdhub-box-shadow);
  transition: .2s;
}

#SDHub-Tab .sdhub-radio label.selected {
  box-shadow: var(--sdhub-box-shadow-focus-hover);
}

#SDHub-Tab .sdhub-radio label > input,
#SDHub-Tab .sdhub-radio label > span {
  border: 0 !important;
  transition: .2s, background-color 0s;
  pointer-events: none;
}

#SDHub-Tab .sdhub-radio label:hover {
  border-color: var(--primary-500);
  box-shadow: var(--sdhub-box-shadow-focus-hover);
  cursor: pointer;
}

#SDHub-Tab .sdhub-radio label:hover > input:not(:checked) {
  box-shadow: var(--sdhub-box-shadow-focus-hover);
}

#SDHub-Tab .sdhub-radio label > input:checked,
#SDHub-Tab .sdhub-radio label > input:checked:focus {
  border-color: var(--primary-500);
  background-image: var(--radio-circle);
  box-shadow: inset 0 0 1px 1px var(--primary-500), 0 0 17px 2px var(--primary-500);
  background-color: var(--primary-500);
}

#SDHub-Tab .sdhub-radio label > input:checked + span {
  color: var(--primary-500);
}

#SDHub-Uploader-Username-Box,
#SDHub-Uploader-Repo-Box {
  max-width: 240px;
}

#SDHub-Uploader-Branch-Box {
  max-width: min(160px, 100%);
}

#SDHub-Uploader-Radio-Box {
  max-width: max-content;
  margin-top: -1px !important;
}

.gradio-container-4-40-0 #SDHub-Uploader-Tab > div > .form {
  position: relative !important;
  margin-top: -10px !important;
}

#SDHub-Repo {
  margin-bottom: -2px;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
}

#SDHub-Repo > a {
  transition: 0.4s ease;
}

#SDHub-Repo > a:hover {
  color: var(--primary-400);
}

#SDHub-Tab .sdhub-tab-title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
}

#SDHub-Tab .sdhub-tab-info {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.8;
}

#SDHub-Tab .sdhub-tab-info.sdhub-archiver-tab-info {
  font-size: 14px;
  background: var(--input-background-fill);
  margin: 0;
  border-radius: var(--input-radius);
  padding: var(--input-padding);
}

#SDHub-Tab .sdhub-tab-info .sdhub-link,
#SDHub-Tab .sdhub-tab-info .sdhub-nonlink {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--color-accent);
  transition: 0.4s ease;
}

#SDHub-Tab .sdhub-tab-info .sdhub-link:hover {
  color: var(--color-accent);
  border: 1px solid orange;
}

#SDHub-Tab .sdhub-tab-info .sdhub-nonlink {
  pointer-events: none;
}

#SDHub-Tab .sdhub-accordion {
  border: 0 !important;
  box-shadow: var(--sdhub-accordion-border);
  transition: .3s ease;
}

#SDHub-Tab .sdhub-accordion > .label-wrap {
  padding: 8px 0;
  margin: -8px 0;
  outline: none;
}

#SDHub-Tab .sdhub-accordion > :nth-child(3) {
  display: block !important;
  height: 0;
  margin-top: 0;
  opacity: 0;
  transition: height .5s ease, opacity .3s ease, margin-top 0s;
  overflow: hidden;
}

#SDHub-Tab .sdhub-accordion:hover,
#SDHub-Tab .sdhub-accordion.sdhub-accordion-open {
  box-shadow: var(--sdhub-box-shadow-primy);
}

#SDHub-Tag-Dataframe {
  border: 0 !important;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe,
.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div,
.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe table {
  overflow: visible !important;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div > div > table > thead > tr {
  background: var(--sdhub-table-head) !important;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div > div > table > thead > tr > th {
  background: transparent !important;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div > div > table > tbody > tr:nth-child(odd) {
  background: var(--sdhub-table-odd) !important;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div > div > table > tbody > tr:nth-child(even) {
  background: var(--sdhub-table-even) !important;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > .table-wrap > div {
  border: 1px solid #000;
  border-radius: var(--table-radius);
  overflow: hidden;
}

#SDHub-Tag-Dataframe tbody {
  position: relative;
  z-index: 11;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > .table-wrap,
.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe td {
  border: 0;
}

#SDHub-Tag-Dataframe td:hover {
  box-shadow: inset 0 0 7px 0 var(--primary-400), inset 0 0 1px 1px var(--primary-500);
  color: var(--primary-400);
  background: transparent;
  filter: drop-shadow(0 0 4px var(--primary-500));
}

#SDHub-Tag-Dataframe thead {
  pointer-events: none;
}

#SDHub-Tag-Dataframe thead > tr {
  text-align: center;
}

#SDHub-Tag-Dataframe thead svg,
#SDHub-Tag-Dataframe td {
  box-shadow: inset 0 0 0 0 transparent;
  pointer-events: auto;
}

#SDHub-Tag-Dataframe td.pulse-td {
  box-shadow: inset 0 0 7px 0 var(--primary-400), inset 0 0 1px 1px var(--primary-500);
  color: var(--background-fill-primary);
  background: var(--primary-400);
  filter: drop-shadow(0 0 4px var(--primary-500));
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe table {
  border-collapse: collapse !important;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div > div > table > thead > tr,
.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div > div > table > tbody > tr {
  border: 0;
  border-bottom: 1px solid #000;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div > div > table > tbody > tr:last-child {
  border-bottom: 0 !important;
}

.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div > div > table > thead > tr > th:nth-child(1),
.gradio-container:not(.gradio-container-4-40-0) #SDHub-Tag-Dataframe > div > div > div > table > tbody > tr > td:nth-child(1) {
  border: 0;
  border-right: 1px solid #000;
}

.gradio-container-4-40-0 #SDHub-Tab .sdhub-accordion > button > span {
  color: var(--primary-400) !important;
}

.gradio-container-4-40-0 #SDHub-Tag-Dataframe {
  overflow: visible !important;
  padding: 0 3px;
}

.gradio-container-4-40-0 #SDHub-Tag-Dataframe > div > .table-wrap {
  border: 0;
  overflow: visible;
}

.gradio-container-4-40-0 #SDHub-Tag-Dataframe > div > div > table,
.gradio-container-4-40-0 #SDHub-Tag-Dataframe table.table {
  border: 1px solid #000;
  border-collapse: collapse !important;
  overflow: visible;
}

.gradio-container-4-40-0 #SDHub-Tag-Dataframe table.table {
  height: inherit !important;
  border-radius: var(--table-radius);
}

.gradio-container-4-40-0 #SDHub-Tag-Dataframe table.table > thead > tr {
  border: 0;
}

.gradio-container-4-40-0 #SDHub-Tag-Dataframe table.table > tbody > tr {
  border: 0;
  border-top: 1px solid #000;
}

.gradio-container-4-40-0 #SDHub-Tag-Dataframe table.table > thead > tr > th:nth-child(2),
.gradio-container-4-40-0 #SDHub-Tag-Dataframe table.table > tbody > tr > td:nth-child(2) {
  border: 0;
  border-left: 1px solid #000;
}

#SDHub-Texteditor-Row {
  gap: inherit;
}

#SDHub-Texteditor-Input input {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

#SDHub-Texteditor-Info {
  padding-right: 2rem !important;
  z-index: 9999;
  top: 3.2rem;
  right: 0;
  position: absolute;
  pointer-events: none;
}

#SDHub-Texteditor-Info > .wrap {
  display: none;
}

#SDHub-Texteditor-Info input {
  border: 0;
  text-align: right;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: transparent;
}

#SDHub-Texteditor-Editor {
  background: #1f1f1f;
  font-family: Consolas, 'Courier New', monospace;
  max-height: 1000px;
  overflow: auto !important;
}

#SDHub-Texteditor-Editor > div[data-testid="block-label"] {
  border: 1px solid #3a3a3a;
}

#SDHub-Texteditor-Editor .cm-content, #SDHub-Texteditor-Editor .cm-gutters {
  line-height: 1.4;
  font-size: 13px;
  font-family: Consolas, "Courier New", monospace;
}

#SDHub-Texteditor-Editor .cm-gutters {
  border-right: 1px solid #3a3a3a;
}

#SDHub-Texteditor-Editor span.\ͼ2c {
  color: #5e8a36;
  font-style: normal;
}

#SDHub-Texteditor-Editor span.\ͼ1q {
  color: #e89bdf;
}

#SDHub-Texteditor-Editor span.\ͼ1s {
  color: #31ffd5;
}

#SDHub-Texteditor-Editor span.\ͼ1t {
  color: #fffca4;
}

#SDHub-Texteditor-Editor span.\ͼ1x {
  color: #1c8fff;
}

#SDHub-Texteditor-Editor span.\ͼ1z {
  color: #fff;
}

#SDHub-Texteditor-Editor span.\ͼ21 {
  color: #fff;
}

#SDHub-Texteditor-Editor span.\ͼ23 {
  color: #cf6db9;
}

#SDHub-Shell-Button, #SDHub-Shell-Ghost-Button {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  line-height: 0;
  max-height: 50px;
  max-width: 50px;
  min-width: 50px;
  font-size: 30px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  padding-left: 6px;
  transition: 0.3s ease;
}